
<!-- technology menu -->
<div class="cb-submenu-2" >
    <ul>
        <li class="">
        <div class="cb-tech-box">
            <div class="cb-tech-icon">
                <img src="assets/images/technology/python.svg" alt="">
            </div>
            <h3>Python</h3>
        </div>
        </li>

        <li class="">
            <div class="cb-tech-box">
            <div class="cb-tech-icon">
                <img src="assets/images/technology/react.svg" alt="">
            </div>
            <h3>React native</h3>
            </div>
        </li>

        <li class="">
            <div class="cb-tech-box">
            <div class="cb-tech-icon">
                <img src="assets/images/technology/angular.svg" alt="">
            </div>
            <h3>Angular</h3>
            </div>
        </li>

        <li class="">
            <div class="cb-tech-box">
            <div class="cb-tech-icon">
                <img src="assets/images/python.png" alt="">
            </div>
            <h3>Vue</h3>
            </div>
        </li>

        <li class="">
            <div class="cb-tech-box">
            <div class="cb-tech-icon">
                <img src="assets/images/technology/vuejs.svg" alt="">
            </div>
            <h3>Cloud Dev</h3>
            </div>
        </li>

        <li class="">
            <div class="cb-tech-box">
            <div class="cb-tech-icon">
                <img src="assets/images/technology/cloddev.svg" alt="">
            </div>
            <h3>Php</h3>
            </div>
        </li>

        <li class="">
            <div class="cb-tech-box">
            <div class="cb-tech-icon">
                <img src="assets/images/technology/php.svg" alt="">
            </div>
            <h3>Mobile</h3>
            </div>
        </li>

        <li class="">
            <div class="cb-tech-box">
            <div class="cb-tech-icon">
                <img src="assets/images/technology/ai.svg" alt="">
            </div>
            <h3>AI</h3>
            </div>
        </li>


    </ul>
</div>
<!-- end technology menu -->

<!-- sccs -->

<style>
.cb-menu-conatiner {
	.cb-menu-inner {
		.cb-menu-option {
			.cb-submenu-2 {
                display: flex;
                justify-content: flex-end;
				ul {
                    max-width: 590px;
                    li {
                        width: 50%;
                        float: left;
                        padding: 12px;
                        background-color: transparent;

                        .cb-tech-box {
                            padding: 30px 20px 25px 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid #505050;
                            flex-direction: column;
                            transition: all 0.4s ease-in-out;
                            .cb-tech-icon {
                                width: 60px;
                                height: 60px;
                                min-height: 60px;
                                min-width: 60px;
                                margin-bottom: 20px;
                                opacity: 0.5;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            h3 {
                                font-size: 22px;
                                line-height: 30px;
                                font-weight: 400;
                                color: rgba(255, 255, 255, 0.6);
                            }
                         
                        }

                        &:hover {
                            transition: all 0.4s ease-in-out;
                            background-color: transparent;
                            .cb-tech-box {
                                border: 1px solid #ffffff;
                                .cb-tech-icon {
                                    opacity: 1;
                                }
                                h3 {
                                    color: #ffffff;
                                }
                            }
                        }
                      
                    }
				}
			}
		}
	}
}

</style>

<!--  -->