.inner-page .menubar-header {
  background-color: rgba(80, 80, 80, 0.5);
  border-color: transparent;
}

.inner-page .banner-team {
  background-image: url(../images/bg-team.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.inner-page .banner-team::before {
  content: '';
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  opacity: 0.5;
  z-index: 99;
}

.the-team-section {
  padding-top: 90px;
  background-color: #ffffff;
}

.the-team-section .team-heading h2 {
  font-size: 58px;
  line-height: 78px;
  color: #181818;
  font-weight: 600;
}

.the-team-section .team-heading h2 span {
  display: block;
}

.the-team-section .team-heading p {
  font-size: 23px;
  line-height: 31px;
  color: #717171;
}

.the-team-section .the-team-profile {
  padding: 90px 0 0 0;
}

.the-team-section .the-team-profile .team-profile {
  text-align: center;
  margin-bottom: 20px;
}

.the-team-section .the-team-profile .team-profile .profile-header {
  margin-bottom: 20px;
}

.the-team-section .the-team-profile .team-profile .profile-header span {
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  font-weight: 300;
  font-style: italic;
}

.the-team-section .the-team-profile .team-profile .profile-header h3 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
}

.the-team-section .the-team-profile .team-profile .profile-img {
  height: 261px;
  width: 100%;
  position: relative;
}

.the-team-section .the-team-profile .team-profile .profile-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  z-index: 1;
  position: relative;
}

.the-team-section .the-team-profile .team-profile .profile-img .outlined-box {
  border: 1px solid #979797;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: -10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: 0;
}

.the-team-section .the-team-profile .team-profile .profile-img:hover .outlined-box {
  border: 1px solid #181818;
  background-color: #181818;
}

.the-team-section .the-team-profile .team-profile .profile-footer {
  padding: 20px 0 10px 0;
}

.the-team-section .the-team-profile .team-profile .profile-footer p {
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  text-align: right;
  font-weight: 500;
}
/*# sourceMappingURL=about-us-team.css.map */