.inner-page {

    // slide menu
    .menubar-header {
        background-color: rgba(80, 80, 80, 0.50);
        border-color: transparent;
    }
    
    // background changed & overlay 
    .banner-team {
        background-image: url(../images/bg-team.png);
        background-size: cover;
        background-position: center;
        position: relative;
        &::before {
            content: '';
            background-color: #000000;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            opacity: 0.5;
            z-index: 99;
        }
    }
}

.the-team-section {
    padding-top: 90px;
    background-color: #ffffff;
    .team-heading{
    
        h2 {
            font-size: 58px;
            line-height: 78px;
            color: #181818;
            font-weight: 600;
            span{
                display: block;
            }
        }

        p {
            font-size: 23px;
            line-height: 31px;
            color: #717171;
        }
    }

    .the-team-profile{
        padding: 90px 0 0 0;

        .team-profile{
            text-align: center;
            margin-bottom: 20px;
            .profile-header {
                margin-bottom: 20px;
                span{
                    font-size: 20px;
                    line-height: 27px;
                    color: #000000;
                    font-weight: 300;
                    font-style: italic;
                }
                h3 {
                    font-size: 22px;
                    line-height: 30px;
                    font-weight: 600;
                    color: #000000;
                    text-transform: uppercase;
                }
            }

            .profile-img{
                height: 261px;
                width: 100%;
                position: relative;
                img {
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                    z-index: 1;
                    position: relative;
                }
                .outlined-box{
                    border: 1px solid #979797;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 10px;
                    left: -10px;
                    transition: 0.8s;
                    z-index: 0;
                }

                &:hover {
                    .outlined-box {
                        border: 1px solid #181818;
                        background-color: #181818;
                    }
                }
            }

            .profile-footer{
                padding: 20px 0 10px 0;
                p {
                    font-size: 20px;
                    line-height: 27px;
                    color: #000000;
                    text-align: right;
                    font-weight: 500;
                }
            }
        }
    }
  
}

@media (max-width: 767px){
  
}
