.blog-author-section {
  padding-top: 30px;
}

.blog-author-section .bolg-autor {
  background: #F7FAFB;
  padding: 37px 30px 30px 30px;
  margin-bottom: 30px;
}

.blog-author-section .bolg-autor .profile-item {
  padding-left: 200px;
  position: relative;
  min-height: 156px;
}

.blog-author-section .bolg-autor .profile-item .author-profile {
  position: absolute;
  left: 0;
  top: 0;
  width: 156px;
  height: 156px;
  border-radius: 100%;
  display: block;
  overflow: hidden;
}

.blog-author-section .bolg-autor .profile-item .author-profile img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-author-section .bolg-autor .profile-item .profile-content .content-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.blog-author-section .bolg-autor .profile-item .profile-content .content-top h3 {
  font-size: 26px;
  color: #000000;
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog-author-section .bolg-autor .profile-item .profile-content .content-top p {
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 32px;
  font-weight: 400;
  max-width: 790px;
  margin-bottom: 20px;
}

.blog-author-section .bolg-autor .profile-item .profile-content .content-footer {
  padding: 14px 0 0 0;
}

.blog-author-section .bolg-autor .profile-item .profile-content .content-footer .social-media {
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog-author-section .bolg-autor .profile-item .profile-content .content-footer .social-media li {
  display: inline-block;
  margin-right: 4px;
}

.blog-author-section .bolg-autor .profile-item .profile-content .content-footer .social-media li:last-child {
  margin-right: 0;
}

.blog-author-section .bolg-autor .profile-item .profile-content .content-footer .social-media li a {
  height: 39px;
  width: 39px;
  border-radius: 100%;
  display: block;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.blog-author-section .bolg-autor .profile-item .profile-content .content-footer .social-media li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

@media (max-width: 767px) {
  .blog-author-section .bolg-autor .profile-item {
    padding-left: 0;
  }
  .blog-author-section .bolg-autor .profile-item .author-profile {
    position: relative;
    left: unset;
    top: unset;
    margin: 0 auto 20px auto;
    text-align: center;
  }
}
/*# sourceMappingURL=blog-author.css.map */