.inner-page {
    // background changed & overlay 
    .banner-blog {
        background-size: 100% 100%;
        position: relative;
        &::before {
            content: '';
            background-color: #000000;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            opacity: 0.5;
            z-index: 99;
        }
    }
}

// blog section

.bloglist-section{
    padding: 130px 0 100px 0;
    background-color: #ffffff;

    .bloglist-inner{
        padding: 0 60px;

        .blog-heading{
            h3 {
                font-size: 31px;
                line-height: 47px;
                color: #181818;
            }
            margin-bottom: 30px;
        }

        .blog-lisiting-all {

            .col-border{
                border: 1px solid #E4E4E4;
                border: 1px solid #E4E4E4;
                margin-top: -1px;
                margin-left: -1px;
            }
         
            .blog-item {
                background-color: #ffffff;
                padding: 15px 0 20px 0;
                .blog-body{
                    margin-bottom: 20px;

                    a {
                        max-height: 280px;
                        min-height: 280px;
                        overflow: hidden;
                        display: block;

                        img {
                            width: 100%;
                            max-height: 280px;
                            min-height: 280px;
                            transition: transform 1s cubic-bezier(.475,.425,0,.995);
                        }

                      
                    }

                      &:hover{
                            img {
                                transform: scale(1.3) ;
                            }
                        }
                  
                }

                .blog-footer {
               

                    a {
                       display: flex;
                       align-items: flex-start;
                       justify-content: flex-start;
                       flex-direction: column;
                       text-decoration: none;
                       position: relative;
                       h3 {
                        font-size: 22px;
                        line-height: 33px;
                        font-weight: 500;
                        color: #303030;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
                        display: -webkit-box;
                        transition: all 0.4s ease-in-out;
                        text-align: center;
                        }
                        span {
                            display: block;
                            width: 100%;
                            color: rgba(24, 24, 24,0.4);
                            font-size: 18px;
                            line-height: 24px;
                            padding: 10px 0;
                            font-weight: 500;
                            text-transform: uppercase;
                            text-align: center;
                        }

                        &:hover{
                            h3 {
                                transition: all 0.4s ease-in-out;
                                color: #ED5C37;
                            }
                        }
                    }
                }
             
            }
        }


        .pagination-div{
            padding: 50px 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;

            ul.pagination {
                li {
                    padding: 15px 25px;
                    a {
                        padding: 0;
                        color: #717171;
                        font-size: 24px;
                        border: 0;
                        border-bottom: 4px solid transparent; 
                        box-shadow: none;
                        outline: 0;
                        background-color: transparent;
                        &:hover {
                            color: #000000;
                            border-bottom: 4px solid #ED5C37; 
                            background-color: transparent;
                        }
                    }

                    &.active {
                        a {
                            color: #000000;
                            border-bottom: 4px solid #ED5C37; 
                            background-color: transparent;
                            &:hover {
                                color: #000000;
                                border-bottom: 4px solid #ED5C37; 
                                background-color: transparent;
                            }
                        }
                    }

                    &:last-child {
                        a {
                            
                            &:hover {
                                color: #000000;
                                border-bottom: 4px solid transparent; 
                                background-color: transparent;
                            }
                        }
                    }

                    &:first-child {
                        a {
                            &:hover {
                                color: #000000;
                                border-bottom: 4px solid transparent; 
                                background-color: transparent;
                            }
                        }
                    }

                    
                }
                .prev, .next {
                      
                        padding: 0;

                        a {
                            height: 60px;
                            width: 60px;
                            border-radius: 100%;
                            background-color: #EEF4F7 !important;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-bottom: 0 !important;
                           &:hover {
                            transition: all 0.3s;
                            box-shadow: 0 2px 24px 0 rgba(209, 209, 209, 0.5);
                           }
                        }
                }
            }
        }
    }
}