.blog-author-section {
    padding-top: 30px;
    .bolg-autor{
        background: #F7FAFB;
        padding: 37px 30px 30px 30px;
        margin-bottom: 30px;
        .profile-item{
            padding-left: 200px;
            position: relative;
            min-height: 156px;
            .author-profile {
                position: absolute;
                left: 0;
                top: 0;
                width: 156px;
                height: 156px;
                border-radius: 100%;
                display: block;
                overflow: hidden;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .profile-content {
                .content-top{
                    border-bottom: 1px solid rgba(0,0,0,0.2);
                    h3 {
                        font-size: 26px;
                        color: #000000;
                        letter-spacing: 0;
                        line-height: 40px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
                    p{
                        font-size: 18px;
                        color: #000000;
                        letter-spacing: 0;
                        line-height: 32px;
                        font-weight: 400;
                        max-width: 790px;
                        margin-bottom: 20px;
                    }
                }
                // 
                .content-footer {
                    padding: 14px 0 0 0;
                    .social-media{
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        li {
                            display: inline-block;
                            margin-right: 4px;
                            &:last-child {
                                margin-right: 0;
                            }
                            a {
                                height: 39px;
                                width: 39px;
                                border-radius: 100%;
                                display: block;
                                transition: all 0.6s ease-in-out;
                                transform: scale(1);
                                &:hover {
                                    transform: scale(1.1);
                                    transition: all 0.6s ease-in-out;
                                }
                            }
                            
                        }
                    }
                }
                // end content footer
                
            }
        }
    }
}

@media (max-width: 767px){
    .blog-author-section {
        .bolg-autor{
            .profile-item{
                padding-left: 0;
                .author-profile{
                    position: relative;
                    left: unset;
                    top: unset;
                    margin: 0 auto 20px auto;
                    text-align: center;
                }
            }
        }
    }
}
