.inner-page .banner-blog {
  background-size: 100% 100%;
  position: relative;
}

.inner-page .banner-blog::before {
  content: '';
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  opacity: 0.5;
  z-index: 99;
}

.bloglist-section {
  padding: 130px 0 100px 0;
  background-color: #ffffff;
}

.bloglist-section .bloglist-inner {
  padding: 0 60px;
}

.bloglist-section .bloglist-inner .blog-heading {
  margin-bottom: 30px;
}

.bloglist-section .bloglist-inner .blog-heading h3 {
  font-size: 31px;
  line-height: 47px;
  color: #181818;
}

.bloglist-section .bloglist-inner .blog-lisiting-all .col-border {
  border: 1px solid #E4E4E4;
  border: 1px solid #E4E4E4;
  margin-top: -1px;
  margin-left: -1px;
}

.bloglist-section .bloglist-inner .blog-lisiting-all .blog-item {
  background-color: #ffffff;
  padding: 15px 0 20px 0;
}

.bloglist-section .bloglist-inner .blog-lisiting-all .blog-item .blog-body {
  margin-bottom: 20px;
}

.bloglist-section .bloglist-inner .blog-lisiting-all .blog-item .blog-body a {
  max-height: 280px;
  min-height: 280px;
  overflow: hidden;
  display: block;
}

.bloglist-section .bloglist-inner .blog-lisiting-all .blog-item .blog-body a img {
  width: 100%;
  max-height: 280px;
  min-height: 280px;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: -webkit-transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: transform 1s cubic-bezier(0.475, 0.425, 0, 0.995), -webkit-transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
}

.bloglist-section .bloglist-inner .blog-lisiting-all .blog-item .blog-body:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.bloglist-section .bloglist-inner .blog-lisiting-all .blog-item .blog-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  position: relative;
}

.bloglist-section .bloglist-inner .blog-lisiting-all .blog-item .blog-footer a h3 {
  font-size: 22px;
  line-height: 33px;
  font-weight: 500;
  color: #303030;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-align: center;
}

.bloglist-section .bloglist-inner .blog-lisiting-all .blog-item .blog-footer a span {
  display: block;
  width: 100%;
  color: rgba(24, 24, 24, 0.4);
  font-size: 18px;
  line-height: 24px;
  padding: 10px 0;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.bloglist-section .bloglist-inner .blog-lisiting-all .blog-item .blog-footer a:hover h3 {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #ED5C37;
}

.bloglist-section .bloglist-inner .pagination-div {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.bloglist-section .bloglist-inner .pagination-div ul.pagination li {
  padding: 15px 25px;
}

.bloglist-section .bloglist-inner .pagination-div ul.pagination li a {
  padding: 0;
  color: #717171;
  font-size: 24px;
  border: 0;
  border-bottom: 4px solid transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  background-color: transparent;
}

.bloglist-section .bloglist-inner .pagination-div ul.pagination li a:hover {
  color: #000000;
  border-bottom: 4px solid #ED5C37;
  background-color: transparent;
}

.bloglist-section .bloglist-inner .pagination-div ul.pagination li.active a {
  color: #000000;
  border-bottom: 4px solid #ED5C37;
  background-color: transparent;
}

.bloglist-section .bloglist-inner .pagination-div ul.pagination li.active a:hover {
  color: #000000;
  border-bottom: 4px solid #ED5C37;
  background-color: transparent;
}

.bloglist-section .bloglist-inner .pagination-div ul.pagination li:last-child a:hover {
  color: #000000;
  border-bottom: 4px solid transparent;
  background-color: transparent;
}

.bloglist-section .bloglist-inner .pagination-div ul.pagination li:first-child a:hover {
  color: #000000;
  border-bottom: 4px solid transparent;
  background-color: transparent;
}

.bloglist-section .bloglist-inner .pagination-div ul.pagination .prev, .bloglist-section .bloglist-inner .pagination-div ul.pagination .next {
  padding: 0;
}

.bloglist-section .bloglist-inner .pagination-div ul.pagination .prev a, .bloglist-section .bloglist-inner .pagination-div ul.pagination .next a {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: #EEF4F7 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0 !important;
}

.bloglist-section .bloglist-inner .pagination-div ul.pagination .prev a:hover, .bloglist-section .bloglist-inner .pagination-div ul.pagination .next a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 2px 24px 0 rgba(209, 209, 209, 0.5);
          box-shadow: 0 2px 24px 0 rgba(209, 209, 209, 0.5);
}
/*# sourceMappingURL=blog-2.css.map */