.careers-list-section {
  padding: 0;
  margin: 0;
  position: relative;
}

.careers-list-section .careers-list-div {
  padding: 100px 60px 0px 60px;
  margin: 0 auto;
  max-width: 100%;
  -webkit-box-shadow: 0 2px 13px 0 rgba(237, 237, 237, 0.56);
          box-shadow: 0 2px 13px 0 rgba(237, 237, 237, 0.56);
}

.careers-list-section .careers-list-div .ul-list-custom-div {
  padding: 0 50px 0 0;
  margin: 0 0 70px 0;
  position: relative;
}

.careers-list-section .careers-list-div .ul-list-custom-div h2 {
  padding: 0 0 0 56px;
  margin: 0 0 40px 0;
  font-size: 34px;
  font-weight: 600;
  color: #181818;
  letter-spacing: 0;
  line-height: 48px;
  position: relative;
  width: 100%;
}

.careers-list-section .careers-list-div .ul-list-custom-div h2 span.number-span {
  font-weight: 300;
  font-size: 38px;
  color: #ED5C37;
  letter-spacing: 0;
  line-height: 48px;
  margin: 0;
  display: inline-block;
  min-width: 50px;
  padding: 0 10px 0 0;
  position: absolute;
  left: 0;
  top: 0;
}

.careers-list-section .careers-list-div .ul-list-custom-div .ul-list-custom {
  padding: 0 0 0 56px;
  margin: 0;
  position: relative;
}

.careers-list-section .careers-list-div .ul-list-custom-div .ul-list-custom li {
  padding: 0 0 0 27px;
  margin: 0 0 30px 0;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 30px;
}

.careers-list-section .careers-list-div .ul-list-custom-div .ul-list-custom li:before {
  content: "";
  height: 12px;
  width: 12px;
  background-color: #ED5C37;
  border-radius: 100px;
  position: absolute;
  left: 0;
  top: 7px;
}

@media screen and (max-width: 767px) {
  .careers-list-section .careers-list-div {
    padding: 100px 0px 0px 0px;
  }
  .careers-list-section .careers-list-div .ul-list-custom-div {
    padding: 0 0px 0 0;
  }
  .careers-list-section .careers-list-div .ul-list-custom-div h2 {
    padding: 0 0 0 50px;
    margin: 0 0 40px 0;
    font-size: 28px;
    line-height: 36px;
  }
  .careers-list-section .careers-list-div .ul-list-custom-div h2 span.number-span {
    font-size: 34px;
    line-height: 48px;
    top: -2px;
  }
  .careers-list-section .careers-list-div .ul-list-custom-div .ul-list-custom {
    padding: 0 0 0 10px;
  }
  .careers-list-section .careers-list-div .ul-list-custom-div .ul-list-custom li {
    padding: 0 0 0 24px;
    margin: 0 0 20px 0;
    font-size: 16px;
    line-height: 28px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .careers-list-section .careers-list-div .ul-list-custom-div {
    padding: 0 0px 0 0;
  }
}
/*# sourceMappingURL=careers-style.css.map */