.inner-page {
    // background changed & overlay 
    .banner-contact-us {
        background-image: url(../images/bg-conatct.jpg);
        background-size: cover;
        position: relative;
        &::before {
            content: '';
            background-color: #000000;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            opacity: 0.5;
            z-index: 99;
        }
    }
}

.conatct-form-section {
    padding-top: 90px;
    background-color: #ffffff;
    .contact-heading{

        .heading {
            h2 {
                font-size: 58px;
                line-height: 78px;
                color: #181818;
                font-weight: 600;
                span{
                    display: block;
                }
            }
    
        }
    
        .content {
            min-height: 140px;
            display: flex;
            align-items: flex-end;
            p {
                font-size: 23px;
                line-height: 31px;
                color: #717171;
            }
        }   
    }

    .contactus-form{
        padding: 80px 0 0 0;
        .form-group {
            margin-bottom: 40px;
            .form-control {
                height: 72px;
                color: #181818;
                padding: 20px 30px;
                font-size: 24px;
                line-height: 32px;
                background-color: #FAFAFA;
                border: 1px solid rgba(153, 167, 168, 0.2);
                border-radius: 0;

                &:focus {
                    box-shadow: none;
                    outline: 0;
                    border: 1px solid rgba(153, 167, 168, 1);
                    transition: all 0.4s;
                }
            }
        }

        textarea.form-control {
            min-height: 144px;
        }

        .input-group{
            display: flex;
            flex-direction: row;
            .form-group {
                width: calc( 100% - 120px);
            }
            .form-select{
                max-width: 120px;
            
            }

            .select2-container {
                .selection {
                    &:focus {
                        border: 1px solid rgba(153, 167, 168, 1) !important;
                        outline: 0;
                        box-shadow: none;
                    }
                }
            }
            .select2-container--default .select2-selection--single .select2-selection__rendered {
                height: 69px;
                padding: 20px 30px;
                font-size: 24px;
                line-height: 32px;
                background-color: #FAFAFA;
            }
            .select2-container--default .select2-selection--single {
                height: 72px;
                border: 1px solid rgba(153, 167, 168, 0.2);
                border-radius: 0;
                outline: 0 !important;

                &:focus {
                    border: 1px solid rgba(153, 167, 168, 1);
                }
            }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: 72px;
            }

            input.form-group {
                width: 100%;   
            }
        }

        .button-common-div{
            padding: 60px 0;
            margin: 0;
        }
    }
  
}

.conatct-middle-section {
    background-image: url(../images/bg-contact-middle.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.headquarter-section{
    .row-0 {
        margin: 0;
        .pad-0 {
            padding: 0;
            border-right: 1px solid rgba(151,151,151,0.60);
        }
    }

    .headquarter-box{
        padding: 76px 50px 80px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .headquarter-icon{
            height: 112px;
            width: 112px;
            border-radius: 100%;
            overflow: hidden;
            margin-bottom: 56px;
            img {
                width: 100%;
            }
        }

        .headquarter-info {
            h3 {
                font-size: 22px;
                color: #000000;
                letter-spacing: 0;
                text-align: center;
                font-weight: 600;
                margin-bottom: 15px;
                span.line {
                    position: relative;
                    text-decoration: underline;
                    text-decoration-color: #ed5c37;
                    text-decoration-style: solid;
                }
            }

            p{
                font-size: 18px;
                color: #727272;
                letter-spacing: 0;
                text-align: center;
                line-height: 34px;
            }
        }
    }

}

.map-section {
    margin: 0;
    iframe {
    margin: 0;
    width: 100%;
    min-height: 541px;
    border: 0;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(99%);
    -webkit-backface-visibility: hidden;
    }
    position: relative;
    .map-pin {
       
        width: 100%;
        height: 63px;
        max-width: 48px;
        position: absolute;
        margin: 0 auto;
        top: 38%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
    }
}

.contact-footer {
    h3 {
        font-size: 32px;
        color: #0F0F0F;
        letter-spacing: 0;
        line-height: 61px;
        font-weight: 800;
        span {
            font-style: italic;
            font-weight: 600;
            text-decoration: underline;
            text-decoration-color: #ed5c37;
            text-decoration-style: solid;
        }
    }
}


@media (max-width: 767px) {
    .headquarter-section {
        .pad-0 {
            border-right: 0 !important;
            border-bottom: 1px solid rgba(151, 151, 151, 0.6);
            &:last-child {
                border-bottom: 0;
            }
        }
        .headquarter-box {
            padding: 50px 20px;
        }
    }
}