.inner-page .banner-contact-us {
  background-image: url(../images/bg-conatct.jpg);
  background-size: cover;
  position: relative;
}

.inner-page .banner-contact-us::before {
  content: '';
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  opacity: 0.5;
  z-index: 99;
}

.conatct-form-section {
  padding-top: 90px;
  background-color: #ffffff;
}

.conatct-form-section .contact-heading .heading h2 {
  font-size: 58px;
  line-height: 78px;
  color: #181818;
  font-weight: 600;
}

.conatct-form-section .contact-heading .heading h2 span {
  display: block;
}

.conatct-form-section .contact-heading .content {
  min-height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.conatct-form-section .contact-heading .content p {
  font-size: 23px;
  line-height: 31px;
  color: #717171;
}

.conatct-form-section .contactus-form {
  padding: 80px 0 0 0;
}

.conatct-form-section .contactus-form .form-group {
  margin-bottom: 40px;
}

.conatct-form-section .contactus-form .form-group .form-control {
  height: 72px;
  color: #181818;
  padding: 20px 30px;
  font-size: 24px;
  line-height: 32px;
  background-color: #FAFAFA;
  border: 1px solid rgba(153, 167, 168, 0.2);
  border-radius: 0;
}

.conatct-form-section .contactus-form .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  border: 1px solid #99a7a8;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.conatct-form-section .contactus-form textarea.form-control {
  min-height: 144px;
}

.conatct-form-section .contactus-form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.conatct-form-section .contactus-form .input-group .form-group {
  width: calc( 100% - 120px);
}

.conatct-form-section .contactus-form .input-group .form-select {
  max-width: 120px;
}

.conatct-form-section .contactus-form .input-group .select2-container .selection:focus {
  border: 1px solid #99a7a8 !important;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.conatct-form-section .contactus-form .input-group .select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 69px;
  padding: 20px 30px;
  font-size: 24px;
  line-height: 32px;
  background-color: #FAFAFA;
}

.conatct-form-section .contactus-form .input-group .select2-container--default .select2-selection--single {
  height: 72px;
  border: 1px solid rgba(153, 167, 168, 0.2);
  border-radius: 0;
  outline: 0 !important;
}

.conatct-form-section .contactus-form .input-group .select2-container--default .select2-selection--single:focus {
  border: 1px solid #99a7a8;
}

.conatct-form-section .contactus-form .input-group .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 72px;
}

.conatct-form-section .contactus-form .input-group input.form-group {
  width: 100%;
}

.conatct-form-section .contactus-form .button-common-div {
  padding: 60px 0;
  margin: 0;
}

.conatct-middle-section {
  background-image: url(../images/bg-contact-middle.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.headquarter-section .row-0 {
  margin: 0;
}

.headquarter-section .row-0 .pad-0 {
  padding: 0;
  border-right: 1px solid rgba(151, 151, 151, 0.6);
}

.headquarter-section .headquarter-box {
  padding: 76px 50px 80px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headquarter-section .headquarter-box .headquarter-icon {
  height: 112px;
  width: 112px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 56px;
}

.headquarter-section .headquarter-box .headquarter-icon img {
  width: 100%;
}

.headquarter-section .headquarter-box .headquarter-info h3 {
  font-size: 22px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
  margin-bottom: 15px;
}

.headquarter-section .headquarter-box .headquarter-info h3 span.line {
  position: relative;
  text-decoration: underline;
  -webkit-text-decoration-color: #ed5c37;
          text-decoration-color: #ed5c37;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

.headquarter-section .headquarter-box .headquarter-info p {
  font-size: 18px;
  color: #727272;
  letter-spacing: 0;
  text-align: center;
  line-height: 34px;
}

.map-section {
  margin: 0;
  position: relative;
}

.map-section iframe {
  margin: 0;
  width: 100%;
  min-height: 541px;
  border: 0;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(99%);
  -webkit-backface-visibility: hidden;
}

.map-section .map-pin {
  width: 100%;
  height: 63px;
  max-width: 48px;
  position: absolute;
  margin: 0 auto;
  top: 38%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.contact-footer h3 {
  font-size: 32px;
  color: #0F0F0F;
  letter-spacing: 0;
  line-height: 61px;
  font-weight: 800;
}

.contact-footer h3 span {
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
  -webkit-text-decoration-color: #ed5c37;
          text-decoration-color: #ed5c37;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

@media (max-width: 767px) {
  .headquarter-section .pad-0 {
    border-right: 0 !important;
    border-bottom: 1px solid rgba(151, 151, 151, 0.6);
  }
  .headquarter-section .pad-0:last-child {
    border-bottom: 0;
  }
  .headquarter-section .headquarter-box {
    padding: 50px 20px;
  }
}
/*# sourceMappingURL=contact-us.css.map */