@import url(https://fonts.googleapis.com/css?family=Poppins:,100,100i,200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap&subset=latin-ext);
.sidenav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #101010;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  z-index: 999999;
}

.sidenav::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/background.png);
  background-position: -1300px -530px;
  opacity: 0.4;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  height: 24px;
  width: 24px;
  right: 30px;
  font-size: 50px;
  margin-left: 50px;
  z-index: 120;
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
}

.sidenav .closebtn img {
  width: 100%;
}

.sidenav .menubar-header-open {
  position: absolute;
  background-color: transparent;
  border-right: 1px solid #3F3F3F;
}

.sidenav .menubar-header-open .header-div .logo-div .logo_link {
  background-color: transparent;
}

.sidenav .menubar-header-open .header-div .back-to-home {
  white-space: nowrap;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-weight: 200;
  font-size: 23px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  opacity: 0.5;
}

.sidenav .menubar-header-open .header-div .back-to-home:hover {
  color: #ffffff;
  opacity: 1;
}

.cb-menu-conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  padding-left: 78px;
  padding-right: 120px;
}

.cb-menu-conatiner .cb-menu-inner-welcome {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  z-index: 111;
  padding: 150px 0 0 0;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu ul li {
  display: inline-block;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu ul li a {
  font-size: 98px;
  font-weight: 600;
  padding: 0 40px;
  color: #ffffff;
  opacity: 0.6;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-decoration: none;
}

.cb-menu-conatiner .cb-menu-inner-welcome .welcome-menu ul li a:hover {
  opacity: 1;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.cb-menu-conatiner .cb-menu-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-list {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
  z-index: 99;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-list ul li {
  display: block;
  margin-bottom: 115px;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-list ul li a.cb-link {
  opacity: 0.5;
  border: 0 solid #FFFFFF;
  font-weight: 600;
  font-size: 46px;
  line-height: 69px;
  color: #FFFFFF;
  letter-spacing: 1.28px;
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
  -webkit-text-stroke-color: #ffffff !important;
  -webkit-text-stroke-width: 1px;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-list ul li a.cb-link:hover {
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  text-decoration: none;
  -webkit-text-fill-color: #ffffff !important;
  -webkit-text-stroke-color: none !important;
  -webkit-text-stroke-width: 1px;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-list ul li a.cb-link span {
  font-weight: 100;
  padding-right: 56px;
  -webkit-text-fill-color: #fafafa !important;
  -webkit-text-stroke-color: none !important;
  -webkit-text-stroke-width: 0;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-list ul li a.cb-link.active {
  opacity: 1;
  font-style: italic;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-text-fill-color: #fafafa !important;
  -webkit-text-stroke-color: none !important;
  -webkit-text-stroke-width: 0;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-list ul li a.cb-link.active span {
  font-weight: 100;
  font-style: normal;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-list ul li:last-child {
  margin-bottom: 0;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 {
  width: 100%;
  min-width: 400px;
  height: 620px;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  list-style-type: none;
  font-size: 0;
  height: 100%;
  position: relative;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li {
  display: inline-block;
  width: 80px;
  height: 100%;
  min-height: 450px;
  padding: 60px 20px 20px 20px;
  border-left: 1px solid #99A7A8;
  z-index: 101;
  position: relative;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li:last-child {
  border-right: 1px solid #99A7A8;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li .work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li .work-item .work-number {
  width: 100%;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li .work-item .work-number span {
  font-size: 60px;
  color: #727272;
  line-height: 72px;
  letter-spacing: -4.7px;
  display: block;
  margin-bottom: 30px;
  font-family: 'Bebas Neue', cursive;
  font-weight: 600;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li .work-item .work-number .work-content {
  display: none;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li .work-item .work-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li .work-item .work-arrow span {
  background-color: #EFF5F7;
  opacity: 0.5;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li:hover {
  width: 282px;
  background-color: #000000;
  z-index: 111;
  position: relative;
  cursor: pointer;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li:hover .work-item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li:hover .work-item .work-number span {
  color: #ED5C37;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li:hover .work-content {
  display: block !important;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li:hover .work-content h3 {
  font-size: 23px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 34px;
  text-decoration: underline;
  margin-bottom: 26px;
  width: 230px;
  word-break: break-word;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li:hover .work-content .work-img {
  margin-bottom: 20px;
  height: 240px;
  width: auto;
  position: relative;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li:hover .work-content .work-img img {
  width: 341px;
  height: 240px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li:hover .work-content p {
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-family: 200;
  line-height: 25px;
  margin-bottom: 10px;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li:hover .work-arrow {
  font-size: 20px;
  color: #99A7A8;
  letter-spacing: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li:hover .work-arrow a {
  color: #ffffff;
  font-weight: 200;
  line-height: 30px;
  white-space: nowrap;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li:hover .work-arrow span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li.active {
  width: 282px;
  background-color: #000000;
  z-index: 110;
  position: relative;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li.active .work-item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li.active .work-item .work-number span {
  color: #ED5C37;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li.active .work-content {
  display: block !important;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li.active .work-content h3 {
  font-size: 23px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 34px;
  text-decoration: underline;
  margin-bottom: 26px;
  width: 230px;
  word-break: break-word;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li.active .work-content .work-img {
  margin-bottom: 20px;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li.active .work-content .work-img img {
  width: 341px;
  height: 240px;
  overflow: hidden;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li.active .work-content p {
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-family: 200;
  line-height: 25px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li.active .work-arrow {
  font-size: 20px;
  color: #99A7A8;
  letter-spacing: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li.active .work-arrow a {
  color: #ffffff;
  font-weight: 200;
  line-height: 30px;
  white-space: nowrap;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-1 ul li.active .work-arrow span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 {
  width: 100%;
  min-width: 400px;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li {
  display: block;
  background-color: #171717;
  position: relative;
  min-height: 130px;
  margin-bottom: 4px;
  z-index: 99;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li .cb-menu-icon {
  height: 74px;
  width: 74px;
  left: 20px;
  top: 20px;
  position: absolute;
  background-color: #8f8f8f;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li .cb-content {
  padding: 20px 20px 30px 125px;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li .cb-content h3 {
  font-size: 32px;
  color: #727272;
  letter-spacing: 0.89px;
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  font-weight: 600;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li .cb-content p {
  font-size: 19px;
  color: #727272;
  letter-spacing: 0.5px;
  width: 40%;
  line-height: 27px;
  margin-bottom: 0;
  font-weight: 200;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li .cb-content p span {
  font-weight: 600;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li .cb-content p a {
  display: inline-block;
  font-size: 18.05px;
  color: #727272;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #727272;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li:hover {
  background-color: #000000;
  cursor: pointer;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li:hover .cb-menu-icon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ED5C37), to(#FF7D54));
  background-image: linear-gradient(180deg, #ED5C37 0%, #FF7D54 100%);
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li:hover .cb-content h3 {
  color: #ED5C37;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li:hover .cb-content P {
  color: #ffffff;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li:hover .cb-content P a {
  color: #ffffff;
  text-decoration: none;
  border-color: #ffffff;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li.active {
  background-color: #000000;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li.active .cb-menu-icon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ED5C37), to(#FF7D54));
  background-image: linear-gradient(180deg, #ED5C37 0%, #FF7D54 100%);
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li.active .cb-content h3 {
  color: #ED5C37;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li.active .cb-content P {
  color: #ffffff;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li.active .cb-content P a {
  color: #ffffff;
  text-decoration: none;
  border-color: #ffffff;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 {
  width: 100%;
  min-width: 400px;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li {
  display: block;
  background-color: #171717;
  position: relative;
  min-height: 130px;
  margin-bottom: 4px;
  z-index: 99;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li .cb-menu-icon {
  height: 74px;
  width: 74px;
  left: 20px;
  top: 20px;
  position: absolute;
  background-color: #8f8f8f;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li .cb-content {
  padding: 20px 20px 30px 125px;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li .cb-content h3 {
  font-size: 32px;
  color: #727272;
  letter-spacing: 0.89px;
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  font-weight: 600;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li .cb-content p {
  font-size: 19px;
  color: #727272;
  letter-spacing: 0.5px;
  width: 40%;
  line-height: 27px;
  margin-bottom: 0;
  font-weight: 200;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li .cb-content p span {
  font-weight: 600;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li .cb-content p a {
  display: inline-block;
  font-size: 18.05px;
  color: #727272;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #727272;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li:hover {
  background-color: #000000;
  cursor: pointer;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li:hover .cb-menu-icon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ED5C37), to(#FF7D54));
  background-image: linear-gradient(180deg, #ED5C37 0%, #FF7D54 100%);
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li:hover .cb-content h3 {
  color: #ED5C37;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li:hover .cb-content P {
  color: #ffffff;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li:hover .cb-content P a {
  color: #ffffff;
  text-decoration: none;
  border-color: #ffffff;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li.active {
  background-color: #000000;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li.active .cb-menu-icon {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ED5C37), to(#FF7D54));
  background-image: linear-gradient(180deg, #ED5C37 0%, #FF7D54 100%);
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li.active .cb-content h3 {
  color: #ED5C37;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li.active .cb-content P {
  color: #ffffff;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-3 ul li.active .cb-content P a {
  color: #ffffff;
  text-decoration: none;
  border-color: #ffffff;
}

.cb-menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 40px 40px;
}

.cb-menu-footer .send-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  height: 100%;
}

.cb-menu-footer .send-message h3 {
  opacity: 0.6;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0.61px;
  font-weight: 400;
}

.cb-menu-footer .send-message a {
  display: block;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0.61px;
  margin-bottom: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 100;
}

.cb-menu-footer .send-message a:hover {
  cursor: pointer;
  color: #FD7850;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cb-menu-footer .cb-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  height: 100%;
}

.cb-menu-footer .cb-social-link h3 {
  opacity: 0.6;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0.61px;
  font-weight: 400;
  margin-bottom: 10px;
}

.cb-menu-footer .cb-social-link ul {
  padding: 0;
  margin: 0;
}

.cb-menu-footer .cb-social-link ul li {
  list-style: none;
  display: inline-block;
  padding: 0 25px;
  z-index: 100;
  position: relative;
}

.cb-menu-footer .cb-social-link ul li a {
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0.61px;
  line-height: 33px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 100;
}

.cb-menu-footer .cb-social-link ul li a:hover {
  cursor: pointer;
  color: #FD7850;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cb-menu-footer .cb-social-link ul li:last-child {
  padding-right: 0;
}

.cb-menu-footer .cb-social-link ul li::before {
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 30px;
  left: -10px;
  top: 12px;
  position: absolute;
  background-color: #727272;
}

.start-new-project {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #101010;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  z-index: 999999;
}

.start-new-project::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/background.png);
  background-position: -1300px -530px;
  opacity: 0.4;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.start-new-project .closebtn {
  position: absolute;
  top: 0;
  height: 24px;
  width: 24px;
  right: 30px;
  font-size: 50px;
  margin-left: 50px;
  z-index: 112;
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
}

.start-new-project .closebtn img {
  width: 100%;
}

.start-new-project .menubar-header-open {
  position: absolute;
  background-color: transparent;
  border-right: 1px solid #3F3F3F;
}

.start-new-project .menubar-header-open .header-div .logo-div .logo_link {
  background-color: transparent;
}

.start-new-project .menubar-header-open .header-div .back-to-home {
  white-space: nowrap;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-weight: 200;
  font-size: 23px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  opacity: 0.5;
}

.start-new-project .menubar-header-open .header-div .back-to-home:hover {
  color: #ffffff;
  opacity: 1;
}

.project-form {
  z-index: 99;
  position: relative;
  height: 100%;
  width: 100%;
}

.project-form .project-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  padding-left: 78px;
  padding-right: 120px;
}

.project-form .project-inner .form-heaeding h3 {
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 3.6px;
  text-align: center;
  margin-bottom: 63px;
}

.project-form .project-inner .form-heaeding h3 span {
  border-bottom: 1px solid #ED5C37;
}

.project-form .project-inner .form-group {
  margin-bottom: 40px;
}

.project-form .project-inner .form-group .form-control {
  padding: 20px 30px;
  width: 100%;
  height: 72px;
  background-color: transparent;
  font-size: 24px;
  color: #99A7A8;
  letter-spacing: 0;
  line-height: 35px;
  color: #ffffff;
  font-weight: 200;
  border: 1px solid rgba(153, 167, 168, 0.2);
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.project-form .project-inner .form-group .form-control:focus {
  border: 1px solid #EFF5F7;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.project-form .project-inner .form-group textarea.form-control {
  height: 140px;
}

.project-form .project-inner .d-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-form .project-inner .btn-submit {
  background: #ED5C37;
  border: 0 solid #FFFFFF;
  border-radius: 10px;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  height: 52px;
  padding: 12px 163px;
}

.banner-section .banner-div .content-div .heading-content h1 span .heading-link {
  color: #000000;
  font-weight: 300;
}

.inner-page .menubar-header {
  background-color: transparent;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.inner-page .menubar-header .header-div {
  position: relative;
}

.inner-page .menubar-header .header-div .header-work-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  position: absolute;
  left: 0px;
  top: 125px;
  width: 100%;
}

.inner-page .menubar-header .header-div .header-work-text a {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  padding: 0 0px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  letter-spacing: 0;
  white-space: nowrap;
}

.inner-page .menubar-header .header-div .header-work-text a span {
  opacity: .5;
  margin: 0 10px;
  display: inline-block;
}

.inner-page .menubar-header .header-div .long-text {
  top: 200px !important;
}

.inner-page .header-hover-only {
  background-color: transparent !important;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.inner-page .header-hover-only .header-div .header-work-text a {
  color: #ffffff;
}

.inner-page .header-hover-only .header-div .nav-center-div .nav-m-bar .menu-icon .bar .fill {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  will-change: transform;
}

.inner-page .banner-section-image {
  background-image: url("../images/banner-inner.jpg");
  background-size: cover;
}

.inner-page .banner-section-image .content-div h1 {
  color: #ffffff !important;
}

.inner-page .banner-section-image .content-div p {
  color: #ffffff !important;
}

.inner-page .banner-section-image .content-div .mouse-icon-div a span {
  background-color: #ffffff !important;
}

.inner-page .banner-section-image .content-div .heading-content h1 span .heading-link {
  color: #ffffff;
  font-weight: 300;
}

.inner-page .new-project-inner-page {
  background-color: #181818 !important;
}

.inner-page .banner-workdetail-page {
  background-image: url("../images/work-detail.png");
  background-size: 85% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 100%;
}

.inner-page .banner-workdetail-page .banner-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-page .banner-workdetail-page .banner-div .content-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 135px;
  min-height: unset;
}

.inner-page .banner-workdetail-page .banner-div .content-div .heading-workdetail .view-allprojects {
  margin-bottom: 20px;
}

.inner-page .banner-workdetail-page .banner-div .content-div .heading-workdetail .view-allprojects a {
  font-size: 23px;
  color: #FFFFFF !important;
  letter-spacing: 0;
  display: block;
  -webkit-text-decoration-color: #ffffff !important;
          text-decoration-color: #ffffff !important;
  font-weight: 200 !important;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  line-height: 26px;
}

.inner-page .banner-workdetail-page .banner-div .content-div .heading-workdetail h1 {
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 72px;
  width: 80%;
}

.inner-page .banner-workdetail-page .banner-div .banner-content-workdetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 135px 60px 0 60px;
}

.inner-page .banner-workdetail-page .banner-div .banner-content-workdetail P {
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 27px;
}

.inner-page .banner-workdetail-page .banner-div .banner-content-workdetail P a {
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 27px;
  text-decoration: none;
  display: inline-block;
}

.inner-page .banner-workdetail-page .banner-div .banner-content-workdetail .content-one {
  margin-bottom: 40px;
}

.inner-page .banner-workdetail-page .banner-div .banner-content-workdetail .content-two .arrrow-div a {
  margin: 0;
  padding: 0 5px;
  display: inline-block;
}

.inner-page .banner-workdetail-page .banner-div .banner-content-workdetail .content-two .arrrow-div a img {
  max-height: 200px;
  margin-left: 0px;
  margin-top: 30px;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .banner-work-img {
  padding: 0 60px 0 0;
  right: 0;
  top: 0;
  z-index: 99;
  width: 95%;
  position: absolute;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .banner-work-img img {
  width: 100%;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .mobile-mockup-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  top: 10 0px;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .mobile-mockup-img img {
  max-width: 328px;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .punchline-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  top: 180px;
  right: 30px;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .punchline-img img {
  max-width: 449px;
  width: 100%;
}

.inner-page .banner-workdetail-page .banner-div .banner-img-right .top-80 {
  top: 80px;
}

.inner-page .our-challanges-section {
  padding: 190px 0 115px 0;
  background-color: #ffffff;
}

.inner-page .our-challanges-section .our-challanges-inner {
  padding: 0 60px;
}

.inner-page .our-challanges-section .our-challanges-inner .our-challanges-heading h2 {
  font-size: 58px;
  color: #181818;
  letter-spacing: 0;
  line-height: 71px;
  font-weight: 600;
  margin-bottom: 60px;
}

.inner-page .our-challanges-section .our-challanges-inner .our-challanges-heading h2 .heading-link {
  color: #181818;
  text-decoration: underline;
  -webkit-text-decoration-color: #ed5c37;
          text-decoration-color: #ed5c37;
}

.inner-page .our-challanges-section .our-challanges-inner .our-challanges-heading h2 .heading-link:before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 5px;
  width: 97%;
  height: 5px;
  display: inline-block;
  border-radius: 100px;
  background-color: #ed5c37;
  z-index: -1;
}

.inner-page .our-challanges-section .our-challanges-inner .our-challanges-heading h2 .heading-link .span-block {
  display: block;
}

.inner-page .our-challanges-section .our-challanges-inner .our-challanges-heading h4 {
  font-size: 24px;
  color: #727272;
  letter-spacing: 0;
  line-height: 35px;
  width: 80%;
  margin-bottom: 40px;
}

.inner-page .our-challanges-section .our-challanges-inner .our-challanges-heading p {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 400;
}

.inner-page .scope-of-work-section {
  background-color: #181818;
  padding: 80px 0 80px 0;
}

.inner-page .scope-of-work-section .scope-of-work-inner {
  padding: 0 60px;
}

.inner-page .scope-of-work-section .scope-of-work-inner .scope-of-work-heading {
  margin-bottom: 70px;
}

.inner-page .scope-of-work-section .scope-of-work-inner .scope-of-work-heading h2 {
  font-size: 58px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 71px;
  font-weight: 600;
}

.inner-page .scope-of-work-section .scope-of-work-inner .scope-of-work-heading h2 .heading-link {
  color: #FFFFFF;
  text-decoration: underline;
  -webkit-text-decoration-color: #ed5c37;
          text-decoration-color: #ed5c37;
}

.inner-page .scope-of-work-section .scope-of-work-inner .scope-of-work-heading h2 .heading-link:before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 5px;
  width: 97%;
  height: 5px;
  display: inline-block;
  border-radius: 100px;
  background-color: #ed5c37;
  z-index: -1;
}

.inner-page .scope-of-work-section .scope-of-work-inner .scope-of-work-heading h2 .heading-link .span-block {
  display: block;
}

.inner-page .scope-of-work-section .scope-of-work-inner .scope-of-work-listing ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inner-page .scope-of-work-section .scope-of-work-inner .scope-of-work-listing ul li {
  display: block;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 60px;
  padding-left: 95px;
  position: relative;
  font-weight: 600;
}

.inner-page .scope-of-work-section .scope-of-work-inner .scope-of-work-listing ul li::before {
  content: '';
  background-image: url("../images/icons/arrow-right2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 60px;
  position: absolute;
  left: 15px;
  top: 3px;
}

.inner-page .image-slider-section {
  padding: 120px 0;
  background-color: #ffffff;
}

.inner-page .delivery-section {
  background-color: #fafafa;
  padding: 90px 0 120px 0;
}

.inner-page .delivery-section .delivery-inner {
  padding: 0 60px;
}

.inner-page .delivery-section .delivery-inner .delivery-info::before {
  content: "";
  position: absolute;
  bottom: 100px;
  right: 5px;
  width: 1px;
  height: 300px;
  display: inline-block;
  border-radius: 0px;
  background-color: #DBDEE5;
}

.inner-page .delivery-section .delivery-inner .delivery-info h4 {
  font-size: 24px;
  color: #727272;
  letter-spacing: 0;
  font-weight: 200;
  line-height: 35px;
  margin-bottom: 15px;
}

.inner-page .delivery-section .delivery-inner .delivery-info h2 {
  font-size: 58px;
  color: #181818;
  letter-spacing: 0;
  line-height: 71px;
  font-weight: 600;
  margin-bottom: 135px;
}

.inner-page .delivery-section .delivery-inner .delivery-info .form-group .form-group-merge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-page .delivery-section .delivery-inner .delivery-info .form-group .form-group-merge .btn-default {
  margin-left: -40px;
  border: 0;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: 1px solid #727272;
  border-radius: 30px !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  position: relative;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-page .delivery-section .delivery-inner .delivery-info .form-group .form-group-merge .btn-default i {
  font-size: 20px;
  color: #727272;
}

.inner-page .delivery-section .delivery-inner .delivery-info .form-group label {
  font-size: 24px;
  color: #727272;
  letter-spacing: 0;
  font-weight: 200;
  margin-bottom: 10px;
}

.inner-page .delivery-section .delivery-inner .delivery-info .form-group .form-control {
  background: #F4F4F4;
  border-radius: 20px;
  border: 0;
  height: 40px;
  width: 50%;
  font-size: 16px;
  color: #3F3F3F;
  letter-spacing: 0;
  line-height: 24px;
  padding-right: 60px;
}

.inner-page .delivery-section .delivery-inner .service-info h4 {
  font-size: 24px;
  color: #727272;
  letter-spacing: 0;
  font-weight: 200;
  line-height: 35px;
  margin-bottom: 15px;
}

.inner-page .delivery-section .delivery-inner .service-info h2 {
  font-size: 58px;
  color: #181818;
  letter-spacing: 0;
  line-height: 71px;
  font-weight: 600;
  margin-bottom: 135px;
}

.inner-page .delivery-section .delivery-inner .service-info h5 {
  font-size: 28px;
  color: #727272;
  letter-spacing: 0;
  font-weight: 600;
  position: relative;
  margin-bottom: 60px;
}

.inner-page .delivery-section .delivery-inner .service-info h5::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 5px;
  width: 30px;
  height: 8px;
  display: inline-block;
  border-radius: 0px;
  background-color: #000000;
}

.inner-page .delivery-section .delivery-inner .service-info P {
  font-size: 20px;
  color: #727272;
  letter-spacing: 0;
  line-height: 30px;
  width: 80%;
}

.inner-page .service-banner {
  background-image: url("../images/service-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 100%;
  position: relative;
}

.inner-page .service-banner::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.inner-page .service-banner .service-banner-heading h1 {
  width: 100% !important;
}

.inner-page .service-banner .service-banner-heading h1 .span_block {
  display: block;
}

.inner-page .service-banner .service-request-quote {
  width: 100%;
}

.inner-page .service-banner .service-request-quote p {
  border-bottom: 0px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  display: block;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 27px;
  letter-spacing: 0;
  padding-bottom: 11px;
}

.inner-page .service-banner .service-request-quote p span {
  line-height: 27px;
  padding-bottom: 12px;
  border-bottom: 0;
}

.inner-page .banner-technology-detail {
  background-image: url("../images/black-banner.png");
}

.inner-page .technology-banner {
  background-image: url("../images/technology-banner-one.png");
}

.inner-page .team-banner {
  background-image: url("../images/black-banner.png");
}

.inner-page .tech-detail-section {
  padding: 190px 0 115px 0;
  background-color: #ffffff;
  position: relative;
}

.inner-page .tech-detail-section::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 120px;
  width: 80%;
  margin: 0 auto;
  height: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(114, 114, 114, 0.4);
}

.inner-page .tech-detail-section .tech-detail-inner {
  padding: 0 60px;
}

.inner-page .tech-detail-section .tech-detail-inner .tech-detail-heading {
  margin-bottom: 60px;
}

.inner-page .tech-detail-section .tech-detail-inner .tech-detail-heading h2 {
  font-size: 58px;
  color: #181818;
  letter-spacing: 0;
  line-height: 71px;
  font-weight: 600;
  margin-bottom: 60px;
}

.inner-page .tech-detail-section .tech-detail-inner .tech-detail-heading h2 .heading-link {
  color: #181818;
  text-decoration: underline;
  -webkit-text-decoration-color: #727272;
          text-decoration-color: #727272;
}

.inner-page .tech-detail-section .tech-detail-inner .tech-detail-heading h2 .heading-link:before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 5px;
  width: 97%;
  height: 5px;
  display: inline-block;
  border-radius: 100px;
  background-color: #727272;
  z-index: -1;
}

.inner-page .tech-detail-section .tech-detail-inner .tech-detail-heading h2 .heading-link .span-block {
  display: block;
}

.inner-page .tech-detail-section .tech-detail-inner .tech-detail-heading h4 {
  font-size: 24px;
  color: #727272;
  letter-spacing: 0;
  line-height: 35px;
  width: 80%;
  margin-bottom: 40px;
}

.inner-page .tech-detail-section .tech-detail-inner .tech-detail-heading p {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 400;
}

.inner-page .tech-detail-section .tech-detail-inner .tech-icon-box-root .tech-icon-box {
  min-width: 80px;
  min-height: 80px;
}

.inner-page .creative-agency-section {
  padding: 20px 0 115px 0;
  background-color: #ffffff;
  position: relative;
}

.inner-page .creative-agency-section .creative-agency-inner {
  padding: 0 60px;
}

.inner-page .creative-agency-section .creative-agency-inner .creative-agency-heading {
  margin-bottom: 60px;
}

.inner-page .creative-agency-section .creative-agency-inner .creative-agency-heading h2 {
  font-size: 58px;
  color: #181818;
  letter-spacing: 0;
  line-height: 71px;
  font-weight: 600;
  margin-bottom: 60px;
}

.inner-page .creative-agency-section .creative-agency-inner .creative-agency-heading h2 .heading-link {
  color: #181818;
  text-decoration: underline;
  -webkit-text-decoration-color: #727272;
          text-decoration-color: #727272;
}

.inner-page .creative-agency-section .creative-agency-inner .creative-agency-heading h2 .heading-link:before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 5px;
  width: 97%;
  height: 5px;
  display: inline-block;
  border-radius: 100px;
  background-color: #727272;
  z-index: -1;
}

.inner-page .creative-agency-section .creative-agency-inner .creative-agency-heading h2 .heading-link .span-block {
  display: block;
}

.inner-page .creative-agency-section .creative-agency-inner .creative-agency-heading h4 {
  font-size: 24px;
  color: #727272;
  letter-spacing: 0;
  line-height: 35px;
  width: 80%;
  margin-bottom: 40px;
}

.inner-page .aboutus-value-section {
  padding: 130px 60px 100px 60px;
}

.project-view-section {
  padding: 100px 60px;
  margin: 0;
  position: relative;
  background-color: #ffffff;
}

.project-view-section .project-view-div .heading-section {
  margin-bottom: 40px;
}

.project-view-section .project-view-div .heading-section h2 {
  color: #000000;
  padding: 0;
  margin: 0 0 40px 0;
  font-size: 3.625rem;
  font-weight: 600;
  line-height: 72px;
}

.project-view-section .project-view-div .heading-section h2 span .heading-link {
  font-weight: 600;
  position: relative;
  color: black;
  padding: 0 5px 0 0;
  text-decoration: none;
  -webkit-text-decoration-color: #ed5c37;
  text-decoration-color: #ed5c37;
  display: inline-block;
}

.project-view-section .project-view-div .heading-section h2 span .heading-link:before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 18px;
  width: 90%;
  height: 5px;
  display: inline-block;
  border-radius: 100px;
  background-color: #ed5c37;
}

.project-view-section .all-workslider .pad-0 {
  padding: 0 !important;
}

.project-view-section .all-workslider .owl-item {
  background-color: #ffffff;
}

.project-view-section .all-workslider .item {
  border-left: 1px solid rgba(153, 167, 168, 0.2);
}

.project-view-section .all-workslider .owl-nav {
  position: absolute;
  left: 0;
  bottom: -50px;
}

.project-view-section .all-workslider .owl-nav button {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  background-color: transparent !important;
}

.project-view-section .all-workslider .all-wrok-box {
  padding: 60px 20px 20px 20px;
}

.project-view-section .all-workslider .all-wrok-box .all-wrok-number h2 {
  font-size: 60px;
  color: #ED5C37;
  letter-spacing: -4.7px;
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 30px;
  font-weight: 600;
}

.project-view-section .all-workslider .all-wrok-box .all-wrok-heading h3 {
  font-size: 23px;
  line-height: 34px;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 26px;
  font-weight: 600;
}

.project-view-section .all-workslider .all-wrok-box .all-wrok-img {
  min-height: 240px;
  max-height: 240px;
  overflow: hidden;
  margin-bottom: 20px;
}

.project-view-section .all-workslider .all-wrok-box .all-wrok-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.project-view-section .all-workslider .all-wrok-box .all-wrok-date p {
  font-size: 16px;
  color: #727272;
  letter-spacing: 0;
  font-weight: 300;
  margin-bottom: 10px;
}

.project-view-section .all-workslider .all-wrok-box .all-wrok-viewmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-view-section .all-workslider .all-wrok-box .all-wrok-viewmore a {
  font-size: 20px;
  color: #181818;
  letter-spacing: 0;
  font-weight: 200;
}

.project-view-section .all-workslider .all-wrok-box .all-wrok-viewmore span {
  color: #EFF5F7;
  height: 26px;
  width: 26px;
}

.solution-work-section {
  background-color: #fafafa;
  padding: 0 60px;
  margin: 0;
  height: 100vh;
  min-height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/solution-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.solution-work-section .solution-work-inner {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.solution-work-section .solution-work-inner .solution-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.solution-work-section .solution-work-inner .solution-left .solution-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.solution-work-section .solution-work-inner .solution-left .solution-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 44px;
}

.solution-work-section .solution-work-inner .solution-left .solution-list ul li a {
  font-size: 58px;
  color: #181818;
  letter-spacing: 0;
  line-height: 81px;
  font-weight: 600;
}

.solution-work-section .solution-work-inner .solution-left .solution-list ul li a span {
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  line-height: 81px;
  margin-right: 50px;
  vertical-align: middle;
  font-weight: 300;
  font-style: italic;
}

.solution-work-section .solution-work-inner .solution-left .solution-list ul li a:hover {
  cursor: pointer;
}

.solution-work-section .solution-work-inner .solution-left .solution-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 70px 0;
  position: relative;
}

.solution-work-section .solution-work-inner .solution-left .solution-content:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 200px;
  height: 5px;
  display: inline-block;
  border-radius: 100px;
  background-color: #ed5c37;
}

.solution-work-section .solution-work-inner .solution-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}

.solution-work-section .solution-work-inner .solution-right .solution-userprofile {
  height: 160px;
  width: 160px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: -65px;
  -webkit-box-shadow: 10px 10px 0 0 #F2F2F2;
          box-shadow: 10px 10px 0 0 #F2F2F2;
}

.inner-page .services-section .heading-div {
  margin-bottom: 100px;
}

.inner-page .services-section .heading-div h2 .heading-link {
  margin: 0 0 20px 0;
  font-size: 3.625rem;
  color: black;
  font-weight: 600;
  position: relative;
  z-index: 1;
  text-decoration: underline;
  display: inline-block;
  -webkit-text-decoration-color: #ed5c37;
          text-decoration-color: #ed5c37;
}

.mac-frame {
  max-width: 800px;
  max-height: 650px;
  top: 160px !important;
}

.mac-frame img {
  width: 100%;
  height: 100%;
}

.mac-frame .mac-frame-inner {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 800px;
  max-height: 450px;
  overflow: hidden;
  padding: 20px 60px 20px 20px;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}

.mac-frame .mac-frame-inner img {
  margin-top: 0;
  width: 100%;
}

.mac-frame:hover {
  cursor: pointer;
}

.mac-frame:hover .mac-frame-inner img {
  margin-top: -500px;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  overflow: hidden;
}

.blog-trending-section {
  padding: 80px 0 100px 0;
  background-color: #ffffff;
}

.blog-trending-section .blog-trending-inner {
  padding: 0 60px;
}

.blog-trending-section .blog-trending-inner .blog-trending-heading h2 {
  font-size: 22px;
  color: #181818;
  letter-spacing: 0;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.blog-trending-section .blog-trending-inner .blog-trending-heading h2 .heading-link {
  color: #181818;
  text-decoration: underline;
  -webkit-text-decoration-color: #ed5c37;
          text-decoration-color: #ed5c37;
}

.blog-trending-section .blog-trending-inner .blog-trending-heading h2 .heading-link:before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 5px;
  width: 97%;
  height: 5px;
  display: inline-block;
  border-radius: 100px;
  background-color: #ed5c37;
  z-index: -1;
}

.blog-trending-section .blog-trending-inner .blog-trending-heading h2 .heading-link .span-block {
  display: block;
}

.blog-trending-section .blog-trending-inner .blog-trending-heading h4 {
  font-size: 24px;
  color: #727272;
  letter-spacing: 0;
  line-height: 35px;
  width: 80%;
  margin-bottom: 40px;
}

.blog-trending-section .blog-trending-inner .blog-trending-heading p {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 28px;
  font-weight: 400;
}

.blog-trending-section .blog-trending-inner .blog-trending-heading .blog-trending-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blog-trending-section .blog-trending-inner .blog-trending-heading .blog-trending-info span {
  padding: 10px;
}

.blog-listing-section {
  padding: 130px 0 100px 0;
  background-color: #ffffff;
}

.blog-listing-section .blog-listing-inner {
  padding: 0 60px;
}

.blog-listing-section .blog-listing-inner .blog-category {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  padding-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.blog-listing-section .blog-listing-inner .blog-category h2 {
  font-size: 32px;
  line-height: 48px;
  color: #181818;
  font-weight: 600;
  margin-bottom: 30px;
}

.blog-listing-section .blog-listing-inner .blog-category .category-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog-listing-section .blog-listing-inner .blog-category .category-list ul li {
  list-style: none;
  display: block;
}

.blog-listing-section .blog-listing-inner .blog-category .category-list ul li a {
  display: block;
  font-size: 26px;
  line-height: 40px;
  color: #181818;
  font-weight: 300;
  margin-bottom: 5px;
  padding-left: 10px;
  text-decoration: none;
}

.blog-listing-section .blog-listing-inner .blog-category .category-list ul li a:before {
  content: "-";
  text-indent: -6px;
  position: relative;
  left: -8px;
  text-decoration: none;
}

.blog-listing-section .blog-listing-inner .blog-category .category-list ul li a:hover {
  color: #ED5C37;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.blog-listing-section .blog-listing-inner .recent-post {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.blog-listing-section .blog-listing-inner .blog-lisiting-all .col-pad-0 {
  padding: 0;
  border-right: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

.blog-listing-section .blog-listing-inner .blog-lisiting-all .blog-item {
  padding: 36px 35px;
  background-color: #ffffff;
}

.blog-listing-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-body {
  margin-bottom: 20px;
}

.blog-listing-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-body a {
  max-height: 232px;
  min-height: 232px;
  overflow: hidden;
  display: block;
}

.blog-listing-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-body a img {
  width: 100%;
  max-height: 232px;
  min-height: 232px;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: -webkit-transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: transform 1s cubic-bezier(0.475, 0.425, 0, 0.995), -webkit-transform 1s cubic-bezier(0.475, 0.425, 0, 0.995);
}

.blog-listing-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-body:hover img {
  -webkit-transform: scale(1.3) rotate(10deg);
          transform: scale(1.3) rotate(10deg);
}

.blog-listing-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  padding-right: 40px;
  position: relative;
}

.blog-listing-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-footer a h3 {
  font-size: 26px;
  line-height: 39px;
  font-weight: 600;
  color: #303030;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
}

.blog-listing-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-footer a span {
  position: absolute;
  right: -30px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #303030;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 0;
  font-weight: 500;
}

.blog-listing-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-footer a:hover h3 {
  -webkit-transition: all all .4s ease-in-out;
  transition: all all .4s ease-in-out;
  color: #ED5C37;
}

.blog-listing-section .blog-listing-inner .blog-lisiting-all .col-pad-0:nth-of-type(1) {
  margin-top: -1px;
}

.blog-listing-section .blog-listing-inner .blog-lisiting-all .col-pad-0:nth-of-type(2) {
  border-left: 0;
  margin-top: -1px;
}

.blog-listing-section .blog-listing-inner .blog-lisiting-all .col-pad-0:nth-of-type(3) {
  border-left: 0;
  margin-top: -1px;
}

.recent-post-section {
  padding: 100px 0;
  background-color: #ffffff;
  border-top: 1px solid #d7d7d7;
  z-index: 1;
  position: relative;
}

.blog-detail-section {
  padding: 270px 0 115px 0;
  background-color: #ffffff;
  z-index: 1;
  position: relative;
}

.blog-detail-section .border-verticle {
  position: relative;
}

.blog-detail-section .border-verticle:after {
  content: '';
  position: absolute;
  height: 114%;
  width: 1px;
  left: 40px;
  top: -270px;
  background-color: #d7d7d7;
  z-index: 1;
}

.blog-detail-section .border-verticle:before {
  content: '';
  position: absolute;
  height: 114%;
  width: 1px;
  right: 40px;
  top: -270px;
  background-color: #d7d7d7;
  z-index: 1;
}

.blog-detail-section .back-to-article {
  padding: 0 60px;
  margin-bottom: 55px;
}

.blog-detail-section .back-to-article a {
  font-size: 20px;
  font-weight: 600;
  color: #181818;
}

.blog-detail-section .back-to-article a span {
  display: inline-block;
  padding-left: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.blog-detail-section .blog-subtitle {
  padding: 0 60px;
}

.blog-detail-section .blog-subtitle h2 {
  font-size: 58px;
  color: #181818;
  font-weight: 600;
  line-height: 74px;
  margin-bottom: 50px;
}

.blog-detail-section .blog-subtitle h2 span {
  display: block;
}

.blog-detail-section .blog-post-info {
  padding: 0 60px;
  margin-bottom: 70px;
}

.blog-detail-section .blog-post-info ul {
  margin: 0;
  padding: 0;
}

.blog-detail-section .blog-post-info ul li {
  list-style: none;
  display: inline-block;
}

.blog-detail-section .blog-post-info ul li a {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #181818;
  display: inline-block;
  padding: 0 20px;
  position: relative;
  text-decoration: none;
}

.blog-detail-section .blog-post-info ul li a::before {
  content: '';
  position: absolute;
  display: block;
  left: -5px;
  top: 12px;
  height: 6px;
  width: 6px;
  border-radius: 30px;
  background-color: #807C7C;
}

.blog-detail-section .blog-post-info ul li:first-child a {
  padding-left: 0;
}

.blog-detail-section .blog-post-info ul li:first-child a::before {
  display: none;
}

.blog-detail-section .blog-detail-img {
  margin-bottom: 70px;
  position: relative;
  z-index: 2;
}

.blog-detail-section .blog-detail-img img {
  width: 100%;
}

.blog-detail-section .blog-detail-info {
  padding: 0 60px;
}

.blog-detail-section .blog-detail-info p {
  font-size: 24px;
  line-height: 38px;
  color: #181818;
  font-weight: 300;
  margin-bottom: 60px;
}

.blog-detail-section .blog-detail-info ul {
  padding: 0;
  margin: 0 0 60px 0;
}

.blog-detail-section .blog-detail-info ul li {
  list-style: none;
  line-height: 28px;
  font-size: 20px;
  color: #181818;
  font-weight: 300;
  margin-bottom: 20px;
  position: relative;
  padding-left: 80px;
}

.blog-detail-section .blog-detail-info ul li::before {
  content: "\e912";
  font-family: Feather !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  left: -0px;
  top: 1px;
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  background-color: rgba(239, 245, 247, 0.6);
}

.blog-detail-section .blog-footer {
  padding: 0 60px;
}

.blog-detail-section .blog-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blog-detail-section .blog-social-media .btn-share {
  border-radius: 100% !important;
  background-color: #ffffff;
  border: 3px solid rgba(24, 34, 40, 0.1);
  height: 63px;
  width: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blog-detail-section .blog-social-media .social-media-drop-down {
  width: 100%;
  min-width: 320px;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul {
  padding: 0;
  margin: 0;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a {
  background-color: #ffffff;
  border: 3px solid rgba(24, 34, 40, 0.1);
  height: 63px;
  width: 63px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a i {
  font-size: 26px;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.facebook {
  border-color: rgba(67, 97, 156, 0.3);
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.facebook i {
  color: #43619c;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.facebook:hover {
  border-color: #43619c;
  background-color: #43619C;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.facebook:hover i {
  color: #ffffff;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.linkdin {
  border-color: rgba(24, 127, 184, 0.3);
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.linkdin i {
  color: #187FB8;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.linkdin:hover {
  border-color: #187FB8;
  background-color: #187FB8;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.linkdin:hover i {
  color: #ffffff;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.twitter {
  border-color: rgba(36, 169, 230, 0.3);
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.twitter i {
  color: #24A9E6;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.twitter:hover {
  border-color: #24A9E6;
  background-color: #24A9E6;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.twitter:hover i {
  color: #ffffff;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.google-plus {
  border-color: rgba(242, 64, 51, 0.3);
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.google-plus i {
  color: #F24033;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.google-plus:hover {
  border-color: #F24033;
  background-color: #F24033;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.blog-detail-section .blog-social-media .social-media-drop-down ul li a.google-plus:hover i {
  color: #ffffff;
}

.blog-detail-section .button-common-div {
  margin-top: 0 !important;
}

.banner-sitemap {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: left;
  height: 50vh;
  min-height: 50vh;
  position: relative;
}

.banner-sitemap::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
}

.banner-sitemap .banner-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-sitemap .banner-div .content-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 135px;
  min-height: 50vh !important;
}

.banner-sitemap .banner-div .content-div .heading-sitemap .view-allprojects {
  margin-bottom: 20px;
}

.banner-sitemap .banner-div .content-div .heading-sitemap .view-allprojects a {
  font-size: 23px;
  color: #FFFFFF !important;
  letter-spacing: 0;
  display: block;
  -webkit-text-decoration-color: #ffffff !important;
          text-decoration-color: #ffffff !important;
  font-weight: 200 !important;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  line-height: 26px;
}

.banner-sitemap .banner-div .content-div .heading-sitemap h1 {
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 72px;
  width: 80%;
}

.sitemap-section {
  padding: 100px 60px;
  background-color: #ffffff;
}

.sitemap-section .all-lisitng h3 {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
}

.sitemap-section .all-lisitng h4 {
  font-size: 18px;
  line-height: 33px;
  font-weight: 600;
  margin: 10px 0;
}

.sitemap-section .all-lisitng ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0px;
}

.sitemap-section .all-lisitng ul li {
  padding: 0 20px 0 0;
}

.sitemap-section .all-lisitng ul li a {
  font-size: 16px;
  line-height: 33px;
  font-weight: 400;
  color: #181818;
}

.sitemap-section .all-lisitng ul li .sub-list {
  padding-left: 50px;
  display: inline-block;
}

.sitemap-section .all-lisitng ul li:first-child {
  width: 25%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .menubar-header-open {
    border-bottom: 1px solid #3F3F3F;
  }
  .menubar-header-open .header-div {
    background-color: transparent !important;
  }
  .menubar-header-open .header-div .nav-center-div {
    display: none !important;
  }
  .menubar-header-open .header-div .back-to-home {
    text-transform: rotate(0deg) !important;
  }
  .closebtn {
    z-index: 9999 !important;
  }
  .project-form .project-inner {
    padding: 0;
  }
  .blog-social-media {
    padding: 0;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    margin-top: 40px;
  }
  .blog-social-media .btn-share {
    height: 45px !important;
    width: 45px !important;
  }
  .blog-social-media .btn-share img {
    width: 20px;
  }
  .blog-social-media .social-media-drop-down ul li {
    margin-right: 8px;
  }
  .blog-social-media .social-media-drop-down ul li a {
    height: 45px !important;
    width: 45px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .project-form .project-inner {
    padding: 0 100px;
  }
  .blog-listing-section .blog-listing-inner .blog-lisiting-all .col-pad-0 {
    padding: 0;
    border-right: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
  }
  .blog-listing-section .blog-listing-inner .blog-lisiting-all .col-pad-0:nth-of-type(1) {
    margin-top: 0px;
  }
  .blog-listing-section .blog-listing-inner .blog-lisiting-all .col-pad-0:nth-of-type(2) {
    margin-top: 0px;
  }
  .blog-listing-section .blog-listing-inner .blog-lisiting-all .col-pad-0:nth-of-type(3) {
    margin-top: 0px;
  }
  .blog-listing-section .blog-listing-inner .blog-lisiting-all .blog-item {
    padding: 36px 35px;
    background-color: #ffffff;
  }
  .blog-listing-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-body {
    margin-bottom: 20px;
  }
  .blog-listing-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-body a {
    max-height: auto !important;
    min-height: auto !important;
  }
  .blog-listing-section .blog-listing-inner .blog-lisiting-all .blog-item .blog-body a img {
    max-height: auto !important;
    min-height: auto !important;
  }
}
/*# sourceMappingURL=custom.css.map */