.data-processing-section{
    margin-top: 20px;
    padding: 20px 0 0px 0;
    position: relative;
    background: url(../images/cloud-circle.svg) no-repeat;
    background-size: contain;
    background-position: center center;
    height: 100%;
    min-height: calc(100vh - 20px);
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
    .data-processing-inner{
        background: url(../images/cloud-data.svg) no-repeat;
        background-size: cover;
        width: 100%;
        background-position: bottom center;
        min-height: 100%;
        z-index: 0;
        position: relative;
    }

    .container-fluid{
        padding: 0 20px;
    }
    .data-processing-box {
        margin: 0 auto;
        text-align: center;
        padding: 70px 0 20px 0;
        max-width: 810px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .clock{
            height: 153px;
            width: 153px;
            margin-bottom: 40px;
            box-shadow: 0px 4px 14px 0 rgba(237, 92, 55, 1);
            border-radius: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .data-heading {
            margin-bottom: 40px;
            h3 {
                font-size: 44px;
                line-height: 56px;
                color: #000000;
                margin-bottom: 10px;
                font-weight: 600;
            }
            p {
                font-size: 32px;
                line-height: 40px;
                color: #000000;
                font-weight: 500;
            }
        }

        .task-list {
            width: 100%;
            .task-item{
                background-color: #ffffff;
                min-height: 80px;
                border: 1px solid rgba(34, 34, 34, 0.47);
                width: 100%;
                padding: 8px 0px 8px 100px;
                position: relative;
                border-radius: 8px;
                display: block;
                margin-bottom: 10px;
                .task-img {
                    width: 64px;
                    height: 64px;
                    border-radius: 100%;
                    background-color: #F4F4F4;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 16px;
                    top: 8px;
                    i {
                        font-size: 24px;
                    }
                }

                .task-content{
                    width: 100%;
                    min-height: 64px;
                    display: flex;
                    align-items: center;
                    text-align: left;
                    justify-content: space-between;
                    .task-info {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        flex-direction: column;
                        h4 {
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: 700;
                            margin-bottom: 5px;
                        }
                        p{
                            font-size: 12px;
                            line-height: 15px;
                            color: #343333;
                        }
                    }

                    .task-btn {
                        .btn {
                            box-shadow: -8px 2px 11px 0 rgba(0, 0, 0, 0.08);
                            
                        }
                        .btn-download {
                            font-size: 14px;
                            line-height: 16px;
                            font-weight: 600;
                            color: rgb(237, 92, 55);
                            height: 40px;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            border-radius: 80px 0px 0px 80px;
                            overflow: hidden;
                            transition: all 0.3s;
                            padding: 6px 20px 6px 25px;
                              i {
                                  margin-left: 8px;
                                  font-size: 20px;
                              }

                              &:hover {
                                  background-color: #ED5C37;
                                  color: #ffffff;
                                  transition: all 0.3s;
                              }
                        }
                    }
                   
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .data-processing-section{
        background-position: center center;
        .data-processing-inner {
            background-size: contain;
        }
        .data-processing-box{
            padding: 20px 0 0 0;
            .clock {
                margin-bottom: 25px;
            }
            .data-heading{
                h3 {
                    font-size: 36px;
                    line-height: 40px;
                }
                p {
                    font-size: 23px;
                    line-height: 26px;
                }
            }

            .task-list{
                .task-item {
                    padding-left: 70px;
                    .task-img{
                        top: 16px;
                        left: 10px;
                        height: 50px;
                        width: 50px;
                    }

                    .task-content {
                        .task-info {

                        }
                        .task-btn {
                            .btn-download {
                                white-space: nowrap;
                                font-size: 12px;
                                line-height: 20px;
                                padding:  8px 20px 8px 15px ;
                                span {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}