@media (max-width: 767px) {

    .header {
        height: 0 !important;
    }
    .middle-section {
        .featured-section {

            // side arrow none
            .newest-slide {
                .owl-nav {
                    .owl-prev {
                        display: none !important;
                    }
                }
            }

            // side arrow none
            .featured-slide {
                .owl-nav {
                    .owl-prev {
                        display: none !important;
                    }
                }
            }


        }
    }

    .middle-section .featured-section .featured-slide .img-box img {
        min-height: 95px;
        max-height: 95px;
    }

    .middle-section .featured-section .newest-slide .img-box img {
        min-height: 95px;
        max-height: 95px;
    }
}
