.menubar-header {
  background-color: rgba(80, 80, 80, 0.5);
  border-color: transparent;
}

.menubar-header .header-div .header-work-text a {
  color: #ffffff !important;
}

.menubar-header .header-div .header-work-text a span {
  color: #717171 !important;
}

.menubar-header .header-div .nav-center-div .nav-m-bar .menu-icon .bar .fill {
  background-color: #ffffff !important;
}

.new-project {
  background-color: rgba(80, 80, 80, 0.5);
}

.new-project .new-project-top-div .project-btn-link .arrow-right-circle {
  background-color: #ffffff;
}

.new-project .new-project-link-middle .transform-link {
  color: #ffffff;
}

.inner-page .menubar-header {
  background-color: rgba(80, 80, 80, 0.5);
  border-color: transparent;
}

.inner-page .banner-technology-detail {
  background-image: url(../images/bg-technolog.jpg);
  background-size: 100% 100%;
  position: relative;
}

.inner-page .banner-technology-detail::before {
  content: '';
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  opacity: 0.5;
  z-index: 99;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul {
  max-width: 590px;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li {
  width: 50%;
  float: left;
  padding: 12px;
  background-color: transparent;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li .cb-tech-box {
  padding: 30px 20px 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #505050;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li .cb-tech-box .cb-tech-icon {
  width: 60px;
  height: 60px;
  min-height: 60px;
  min-width: 60px;
  margin-bottom: 20px;
  opacity: 0.5;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li .cb-tech-box .cb-tech-icon img {
  width: 100%;
  height: 100%;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li .cb-tech-box h3 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: transparent;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li:hover .cb-tech-box {
  border: 1px solid #ffffff;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li:hover .cb-tech-box .cb-tech-icon {
  opacity: 1;
}

.cb-menu-conatiner .cb-menu-inner .cb-menu-option .cb-submenu-2 ul li:hover .cb-tech-box h3 {
  color: #ffffff;
}
/*# sourceMappingURL=menu-banner.css.map */