

// slide menu and banner overlay

	// menu slide
	.menubar-header {
		background-color: rgba(80, 80, 80, 0.50);
		border-color: transparent;
		.header-div {
			.header-work-text {
				a {
					color: #ffffff !important;
					span {
						color: #717171 !important;
					}
				}
			}

			.nav-center-div {
				.nav-m-bar {
					.menu-icon {
						.bar {
							.fill {
								background-color: #ffffff !important;
							}
						}
					}
				}
			}
		}
	}

	//  new project
	.new-project{
		background-color: rgba(80, 80, 80, 0.50);
		.new-project-top-div {
			.project-btn-link {
				.arrow-right-circle{
					background-color: #ffffff;
				}
			}
		} 
		.new-project-link-middle {
			.transform-link {
				color: #ffffff;
			}
		}
	}

	// inner page changes
	.inner-page {

		// slide menu
		.menubar-header {
			background-color: rgba(80, 80, 80, 0.50);
			border-color: transparent;
		}
		
		// background changed & overlay 
		.banner-technology-detail {
			background-image: url(../images/bg-technolog.jpg);
			background-size: 100% 100%;
			position: relative;
			&::before {
				content: '';
				background-color: #000000;
				height: 100%;
				width: 100%;
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				opacity: 0.5;
				z-index: 99;
			}
		}
	}

// end



// slide naviagtion - css

.cb-menu-conatiner {
	.cb-menu-inner {
		.cb-menu-option {
			.cb-submenu-2 {
                display: flex;
                justify-content: flex-end;
				ul {
                    max-width: 590px;
                    li {
                        width: 50%;
                        float: left;
                        padding: 12px;
                        background-color: transparent;

                        .cb-tech-box {
                            padding: 30px 20px 25px 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid #505050;
                            flex-direction: column;
                            transition: all 0.4s ease-in-out;
                            .cb-tech-icon {
                                width: 60px;
                                height: 60px;
                                min-height: 60px;
                                min-width: 60px;
                                margin-bottom: 20px;
                                opacity: 0.5;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            h3 {
                                font-size: 22px;
                                line-height: 30px;
                                font-weight: 400;
                                color: rgba(255, 255, 255, 0.6);
                            }
                         
                        }

                        &:hover {
                            transition: all 0.4s ease-in-out;
                            background-color: transparent;
                            .cb-tech-box {
                                border: 1px solid #ffffff;
                                .cb-tech-icon {
                                    opacity: 1;
                                }
                                h3 {
                                    color: #ffffff;
                                }
                            }
                        }
                      
                    }
				}
			}
		}
	}
}


