/* colors */

$transparent-color: transparent;

$white-color: rgb(255, 255, 255);
$light-white-color: rgba(255, 255, 255, 0.6);
$light-white-color2: rgba(255, 255, 255, 0.5);

$black-color:rgba(0, 0, 0, 1);
$black-color-40:rgba(0, 0, 0, 0.4);

$primary-color1: #ed5c37;
$primary-color2: #181818;

$sub-color1: #EFF5F7;
$sub-color1-50: rgba(239, 245, 247, 0.5);

$sub-color2: #727272;
$sub-color3: #99A7A8;
$sub-color4: #FAFAFA;

$color1:#FF2D3D;
$color2:#239FF1;
$color3:#F26820;
$color4:#017363;


/* End of colors */

// slide menu and banner overlay

	// menu slide
	.menubar-header {
		background-color: rgba(80, 80, 80, 0.50);
		border-color: transparent;
		.header-div {
			.header-work-text {
				a {
					color: #ffffff !important;
					span {
						color: #717171 !important;
					}
				}
			}

			.nav-center-div {
				.nav-m-bar {
					.menu-icon {
						.bar {
							.fill {
								background-color: #ffffff !important;
							}
						}
					}
				}
			}
		}
	}

	//  new project
	.new-project{
		background-color: rgba(80, 80, 80, 0.50);
		.new-project-top-div {
			.project-btn-link {
				.arrow-right-circle{
					background-color: #ffffff;
				}
			}
		} 
		.new-project-link-middle {
			.transform-link {
				color: #ffffff;
			}
		}
	}

	// inner page changes
	.inner-page {

		// slide menu
		.menubar-header {
			background-color: rgba(80, 80, 80, 0.50);
			border-color: transparent;
		}
		
		// background changed & overlay 
		.banner-service-detail {
			background-image: url(../images/service-banner.png);
			background-size: cover;
			position: relative;
			&::before {
				content: '';
				background-color: #000000;
				height: 100%;
				width: 100%;
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				opacity: 0.5;
				z-index: 99;
			}
		}
    }
    
// end

// 

.future-detail-text-section{
    padding: 100px 0 100px 0; background-color: #ffffff; position: relative;
    &::before { content: ''; position: absolute; bottom: 0px; left: 120px; width: 80%; margin: 0 auto; height: 1px; display: flex; align-items: center; justify-content: center; background-color:rgba(114, 114, 114, 0.4); }
   

    .future-detail-text-inner{
        padding: 0 60px;

        .heading-div {
            margin-bottom: 60px;
            h2 { margin: 0 0 60px 0; font-size: 3.625rem; color: #181818; }
            .link-hr{ &::before{ background-color: #727272; } }
        }
        p { font-size: 16px; font-weight: 400; color: #000000; max-width: 650px; font-weight: 400;}

    }

}

.services-development-section{
    background-color: #181818; padding: 60px 0 60px 0; position: relative;

    .services-development-inner{ padding: 0 60px; }

    .heading-div {
        margin-bottom: 20px;
        h2 { margin: 0 0 20px 0; font-size: 2.75rem; color: #fff; }
        .link-hr{ &::before{ bottom: -4px; } }
    }

    .services-dev-root{
        padding: 0; margin:60px 0 0 0; display: flex; flex-wrap: wrap;
        .services-dev-box {
            padding: 30px 30px 30px 30px; margin: 0 0 40px 0; min-height: 150px;  display: flex; border: 1px solid $transparent-color; transition: all 0.8s; border-radius: 0px;
            .services-icons {
                padding: 0 10px; width: 100px; border-radius: 100%; display: flex;
                .service-icon { display: flex; align-items: center; justify-content: center; flex-direction: column; }
                .img-icon { width: 80px; height: 80px; margin: 0 auto; object-fit: contain; }
            }
            
            
            .services-content {
                 padding: 0 20px 0 40px; margin: 0; width: calc(100% - 100px);
                h4 { padding: 0; margin:0px 0 10px 0; font-size: 22px; font-weight: 400; color: $white-color; }
                p { font-size: 16px; line-height: 1.5; margin: 0 0 0 0; color: #727272; font-weight: 400; }
            }

            &:hover{
                background-color: #000;
                border-radius: 8px;
            }

        }


    }

}

.solutions-tech-text-section{
    padding: 100px 0 100px 0; background-color: #ffffff; position: relative;
	&::before { content: ''; background: url(../images/service-img/shape-tech-mix.svg) no-repeat top right; background-size: 425px; position: absolute; right: 0; top: 0; width: 100%; height: 100%; }
	
    .solutions-tech-text-inner{
		padding: 0 60px;
		
		.heading-div {
            margin-bottom: 80px; max-width: 750px;
            h2 { margin: 0 0 20px 0; font-size: 3rem; line-height: 1.4; color: #181818; }
			.link-hr{ &::before{ background-color: #727272; } }
			p { font-size: 22px; font-weight: 300; color: #000000; max-width: 700px; font-weight: 400; line-height: 1.5; }
        }
        

	}



}

.quick-text-box-root{
	padding: 0; margin: 0; position: relative;

	.quick-text-box {
		padding: 20px 5px;

		h3 { color: #ED5C37; font-size: 24px; font-weight: 600; padding: 0 0 5px 0; text-align: center; margin: 0 0 20px 0; position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center;
			&:after{ content: ""; position: relative; width: 20px; height: 3px; display: block; border-radius: 0px; background-color: #282828;     margin: 20px 0 0 0; }
		}
		p { font-weight: 400; font-size: 18px; color: #505050; letter-spacing: 0; text-align: center; line-height: 32px; }

	}

	

}

.approach-dev-section{
    padding: 100px 0 100px 0; background-color: #FAFAFA; position: relative;
   
    .approach-dev-inner{
        padding: 0 60px;

        .heading-div {
            margin-bottom: 70px;
            h2 { margin: 0 0 30px 0; font-size: 3.625rem; color: #181818; max-width: 1100px; }
			.link-hr{ &::before{ background-color: #ED5C37; } }
			p{ font-weight: 400; }
        }
		
		
		.approach-waves-root{
			padding: 0; margin: 0; position: relative;

			.approach-waves-image{ padding: 0; margin: 0; position: relative; }
			.img-thumb{ padding: 0; margin: 0 0 30px 0; position: relative; }
			.img-waves { width: 100%; }

			h4 { font-weight: 600; font-size: 14px; line-height: 1.5; color: #181818; letter-spacing: 0; text-align: center; display: inline-block; 
				span{ font-size: inherit; }
			}
			
			.content-box { max-width: 200px; }
			.desc-div-row { display: flex; justify-content: space-between; flex-wrap: wrap; }

			// 18th sept
			.desc-div-top {
				justify-content: space-evenly;
				padding-bottom: 40px;
				.content-box {
					&:nth-child(1) {
						margin-left: -10px;
					}

					&:nth-child(2) {
						margin-left: 40px;
					}
				}
			}

			.desc-div-bottom {
				.content-box {
					&:nth-child(1) {
						margin-left: -10px;
					}

					&:nth-child(2) {
						margin-left: 40px;
					}
				}
			}

			.desc-mobile{
				display: none;
				
			}
			// 

		}

    }

}


.s-icon-circle1{ -webkit-mask: url(../images/service-img/s-icon1.svg) no-repeat 50% 50%; mask: url(../images/service-img/s-icon1.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: contain; width: 37px; height: 37px; background-color: $white-color; }
.s-icon-circle2{ -webkit-mask: url(../images/service-img/s-icon2.svg) no-repeat 50% 50%; mask: url(../images/service-img/s-icon2.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: contain; width: 37px; height: 37px; background-color: $white-color; }
.s-icon-circle3{ -webkit-mask: url(../images/service-img/s-icon3.svg) no-repeat 50% 50%; mask: url(../images/service-img/s-icon3.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: contain; width: 37px; height: 37px; background-color: $white-color; }
.s-icon-circle4{ -webkit-mask: url(../images/service-img/s-icon4.svg) no-repeat 50% 50%; mask: url(../images/service-img/s-icon4.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: contain; width: 37px; height: 37px; background-color: $white-color; }
.s-icon-circle5{ -webkit-mask: url(../images/service-img/s-icon5.svg) no-repeat 50% 50%; mask: url(../images/service-img/s-icon5.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: contain; width: 37px; height: 37px; background-color: $white-color; }
.s-icon-circle6{ -webkit-mask: url(../images/service-img/s-icon6.svg) no-repeat 50% 50%; mask: url(../images/service-img/s-icon6.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: contain; width: 37px; height: 37px; background-color: $white-color; }

.why-us-section{
	padding: 100px 0 0 0; margin: 0; position: relative;
	background-color: #fafafa;
    .why-us-div{
        padding: 0 60px; 

        .heading-div {
            max-width: 100%;
			h2 {  margin: 0 0 20px 0; font-size: 3.625rem; color: $black-color; }
			p { font-weight: 300; font-size: 22px; color: #000000; letter-spacing: 0;  line-height: 1.6; font-weight: 400; }
        }

        .services-root{
            padding: 0; margin:60px 0 0 0; display: flex; flex-wrap: wrap;
            .services-box {
				padding: 50px 40px 40px 40px; margin: 0; flex: 0 0 50%; max-width: 50%; min-height: 250px; display: flex; 
				border: 1px solid #DBDEE5; border-bottom: 0px;
				
				&:nth-child(1), &:nth-child(2){ border-top-color: transparent; }
				&:nth-child(odd){ border-left-color: transparent; border-right-color: transparent;  }
				&:nth-child(even){ border-right-color: transparent; }

                .services-icons {
                    padding: 0 15px; min-width: 74px; background-color: $sub-color1; height: 74px; border-radius: 100%; display: flex;
                    background-image: linear-gradient(180deg, #ED5C37 0%, #FF7D54 100%); border-radius: 100px; display: flex; align-items: center; justify-content: center;
                }
                .services-content {
                    width: calc(100% - 74px); padding: 0 20px 0 40px; margin: 0;
                    h4 { padding: 0; margin:0px 0 10px 0; font-size: 21px; font-weight: 700; color: $primary-color2; }
                    p { font-size: 15px; font-weight: 400; }
                    .link-box-div{ padding: 0; margin: 10px 0 0 0; position: relative; }
                    a.btn.btn-more {
                        padding: 0; margin: 0; font-size: 12px; text-transform: uppercase; font-weight: 600; color: $primary-color2; letter-spacing: 0.5px; transition: 0.8s;
                        &:hover, &:focus{
                            color: $primary-color1;
                        }
                    }
				}
				
                // &.services-box1{ border-right:1px solid #DBDEE5; border-bottom:1px solid #DBDEE5;  }
                // &.services-box2{ border-bottom:1px solid #DBDEE5; }
                // &.services-box3{ border-right:1px solid #DBDEE5; }
            }
        }

    }
}

.technologies-dev-section{
    padding: 60px 0 60px 0; background-color: #ffffff; position: relative;
   
    .technologies-dev-inner{
        padding: 0 60px;

        .heading-div {
            margin-bottom: 80px;
            h2 { margin: 0 0 30px 0; font-size: 3.625rem; color: #181818; max-width: 1100px; }
            .link-hr{ &::before{ background-color: #ED5C37; } }
        }
		
		.technologies-icon-root{
			padding: 0; margin: 0; position: relative;

			.technologies-icon-row { display: flex; flex-wrap: wrap; }

			.language-box { padding: 20px 10px; margin: 0 30px 30px 0; position: relative; text-align: center; min-width: 120px;
				.img-thumb { margin: 0 0 20px 0; display: flex; }
				.img-language { height: 55px; width: 55px; object-fit: contain; margin: 0 auto; }
				h4 { padding: 0;  font-weight: 400; font-size: 20px; color: #181818; letter-spacing: 1px; text-align: center; }
			}

		}

    }

}

.development-info-section{
	padding: 80px 0px 70px 0px; margin: 0; position: relative; background-color: $sub-color1; 
	background: url(../images/service-img/service-img.jpg) no-repeat; background-size: cover;
    .development-info-div{
        padding: 0; 
        .development-info-root{ padding: 80px 50px 50px 50px; margin: 0 0 10px 0; background-color: $white-color; width: 100%; max-width: 1100px;
            
        }
        .img-brand { position: absolute; top: 0; left: 0; width: 100%; }
		
		
		.content-div-root{
            padding: 10px 30px 10px 30px; 
            p{ margin: 0 0 30px 0; font-size: 22px; line-height: 40px; color: $black-color; }
            .link{ color: $primary-color2; }
			h2 { font-size: 48px; font-weight: 600; color: $primary-color2; letter-spacing: 0; line-height: 71px; margin: 0 0 35px 0; }
			b{ font-weight: 600; }
            .content-apply{
                li{ position: relative; padding: 0 0 0 100px;  margin: 0 0 30px 0; }
                p{ margin: 0; font-weight: 400; }
                .arrow-icons { display: flex; align-items: center; justify-content: center; height: 40px; width: 40px; background: rgba(239,245,247,0.50);     font-size: 20px; color: $sub-color2; border-radius: 100%; position: absolute; left: 0; top: 0;  }
            }
		}
		
    }
} 

.industries-dev-section{
    padding: 100px 0 100px 0; background-color: #fff; position: relative;
   
    .industries-dev-inner{
        padding: 0 60px;

        .heading-div {
            margin-bottom: 70px;
            h2 { margin: 0 auto 50px auto; font-size: 3.625rem; color: #181818; max-width: 1100px; }
			.link-hr{ &::before{ background-color: #ED5C37; } }
			p { max-width: 1000px; margin: 0 auto 30px auto;font-weight: 400; text-align: center; }
		}
		
		.industries-root{ padding: 0; margin: 0; position: relative; }

		.industries-image-box{
			padding: 0; margin: 0 0 30px 0; position: relative; overflow: hidden;
			.industries-image-box-inner { height: 300px; display: flex; align-items: center; justify-content: center; }
			.overlay-img { min-height: 100%; width: 100%; display: flex;  }
			.overlay-text { position: absolute; top: 0; left: 0; height: 100%;  width: 100%; text-align: center; display: flex; align-items: center; justify-content: center; background-color: rgba(0, 0, 0, 0.6);     z-index: 2; }
			h3 { font-weight: 500; font-size: 22px; color: #FFFFFF; letter-spacing: 0; text-align: center; line-height: 40px; text-shadow: 0 1px 0 #181818; width: 100%; padding: 20px 20px; }
			
			.img-industry { height: 300px; object-fit: cover; transform: scale(1); transition: transform 0.8s; }
			
			.link-box {
				display: block;
				&:hover{  
					.img-industry{ transform: scale(1.1); }
				}
			}
			

		}

    }

}

.why-python-development-section{
	padding: 120px 0;
	background-color: #ffffff;

	.python-development-heading {
		.heading-div{
			h2 { margin: 0 0 30px 0; font-size: 3.625rem; color: #181818; }
		}
	}

	.development-box {
		padding: 40px;
		box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 4px;
		height: 100%;
		display: block;
		.img-deve {
			height: 62px;
			width: 62px;
			border-radius: 100%;
			background-color: #EFF5F7;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 10px;
		}
		h3 {
			color: #727272;
			font-weight: 800;
			line-height: 33px;
			font-size: 22px;
			margin-bottom: 10px;
		}

		p {
			color: #99A7A8;
			font-size: 12px;
			line-height: 18px;
		}
	}
}


.plr-120{ padding-left: 120px !important; padding-right: 120px !important; }
.plr-78{ padding-left: 78px !important; padding-right: 78px !important; }


@media screen and (min-width: 1025px) and (max-width: 1290px){

	.industries-dev-section {
		.industries-dev-inner {
			
			.industries-image-box {
				.industries-image-box-inner { height: 250px; }
				h3 { font-size: 18px; line-height: 30px; width: 100%; padding: 20px 20px; }
				.img-industry{ height: 250px; }
			}
		}
	}

}

@media screen and (max-width: 767px){

	.plr-120{ padding-left: 15px !important; padding-right: 15px !important; }
	.plr-78{ padding-left: 15px !important; padding-right: 15px !important; }

	.future-detail-text-section {
		padding: 60px 0 60px 0;
		.future-detail-text-inner {
			.heading-div {
				margin-bottom: 0px;
				h2 { font-size: 2rem; margin: 0 0 30px 0; }
				.link-hr::before{ bottom: 3px; height: 3px; }
			}
		}
	}

	.services-development-section {
		.heading-div {
			h2 { font-size: 1.8rem; }
			.link-hr::before{ bottom: 3px; height: 3px; }
		}
		.services-dev-root {
			.w-100 { width: unset !important; }
			.services-dev-box {
				padding: 15px 15px 15px 15px;
				margin: 0 0 30px 0;
				min-height: auto;
				.services-icons {
					padding: 0 5px; width: 70px;
					.img-icon {
						width: 60px;
						height: 60px;
					}
				}
				.services-content {
					padding: 0 0px 0 10px; margin: 0; width: calc(100% - 70px);
					h4 { font-size: 18px; }
					p{     font-size: 14px; }
				}
			}
		}
	}
	
	.solutions-tech-text-section {
		padding: 100px 0 60px 0;
		&::before{ background-size: 125px; }
		.solutions-tech-text-inner {
			.heading-div {     margin-bottom: 40px;
				h2 {
					font-size: 2rem;
					.link-hr::before{ bottom: 3px; height: 3px; }
				}
				p{     font-size: 14px; }
			}
		}
	}
	
	.quick-text-box-root {
		.quick-text-box {
			h3 {
				font-size: 18px; padding: 0 0 5px 0; margin: 0 0 10px 0;
				&:after{ margin:5px 0 0 0; }
			}
			p { font-size: 14px; line-height: 24px; }
		}
	}

	.approach-dev-section {
		padding: 60px 0 60px 0;
		.approach-dev-inner {
			.heading-div {
				h2 {
					font-size: 2rem;
					.link-hr::before{ bottom: 3px; height: 3px; }
				}
				p { font-size: 16px; }
			}

			.approach-waves-root {
				h4 { font-weight: 600; font-size: 12px; text-align: left; width: 100%; padding: 0 10px 0 30px; margin: -2px 0 0 0; word-break: break-word; line-height: 1.5; }
				.desc-div-row { counter-reset: dots; }
				.content-box { max-width: 50%; width: 50%; text-align: center; margin: 0 auto 20px auto;  position: relative;
					&::before{ counter-increment: dots ; content: counter(dots); position: absolute; left: 0; top: 0; padding: 2px 0 0 0; font-weight: 600; font-size: 12px; color: #ffffff; line-height: 18px; letter-spacing: 0; text-align: center; background: #ED5C37; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11); height: 22px; width: 22px; border-radius: 100%; display: flex; align-items: center; justify-content: center; }
				}
				.span-block { line-height: inherit; }
				.img-thumb{ display: none; }

				// 18th sept
			

				.desc-div-row {
					display: none;
				}

				.desc-mobile{
					display: block;

					.desc-div-row {
						display: flex;
					}
				}
				.desc-div-top {
					justify-content: flex-start;
					padding-bottom: 40px;
					.content-box {
						margin: 0 0 20px 0;
						&:nth-child(1) {
							margin-left: 0px;
						}
	
						&:nth-child(2) {
							margin-left: 0px;
						}
					}
				}
	
				.desc-div-bottom {
					.content-box {
						margin: 0 0 20px 0;
						&:nth-child(1) {
							margin-left: 0px;
						}
	
						&:nth-child(2) {
							margin-left: 0px;
						}
					}
				}

				// 
			}
		}

	}
	
	.why-us-section {
		padding: 60px 0 60px 0;
		.why-us-div {
			.heading-div {
				h2 {
					font-size: 2rem;
					.link-hr::before{ bottom: 3px; height: 3px; }
				}
				p { font-size: 16px; line-height: 1.5; text-align: left !important; }
			}

			.services-root {
				.services-box { border: 0px solid #DBDEE5; padding: 10px 0px; margin: 0 0 20px 0;
					padding: 15px 15px 15px 15px; flex: 0 0 100%; max-width: 100%; min-height: auto;
					.services-icons {
						padding: 0 5px; min-width: 60px; height: 60px;
					}
					.service-icon {
						width: 28px;
						height: 28px;
					}
					.services-content {
						width: calc(100% - 60px);
						padding: 0 0px 0 15px;
						h4{ font-size: 18px; }
						p{ font-size: 14px; font-weight: 400; line-height: 1.5rem;}
					}
				}
			}
		}
	}


	.technologies-dev-section {
		.technologies-dev-inner {
			.heading-div {     margin-bottom: 40px;
				h2 { 
					font-size: 2rem;
					.link-hr::before{ bottom: 3px; height: 3px; }
				}
			}
			.technologies-icon-root {
				.language-box {
					padding: 20px 10px;
					margin: 0 0px 30px 0;
					min-width: 50%;
					h4{ font-size: 16px; }
				}
			}
		}
	}
	
	.development-info-section {
		.development-info-div {
			.development-info-root {
				padding: 40px 15px 30px 15px; margin: 0 0 10px 0; width: 100%;
				.content-div-root{  padding: 0px 10px; 
					h2{ font-size: 1.8rem; line-height: 1.5;
						.link-hr::before{ bottom: 3px; height: 3px; }
					}
					p { margin: 0 0 30px 0; font-size: 16px; line-height: 26px; }
					.content-apply {
						li {
							padding: 0 0 0 45px;
							margin: 0 0 30px 0;
						}
						.arrow-icons {
							height: 30px;
							width: 30px;
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	
	.industries-dev-section {
		.industries-dev-inner {
			.heading-div {
				h2{ font-size: 1.8rem; line-height: 1.5;margin: 0 auto 30px auto;
					.link-hr::before{ bottom: 3px; height: 3px; }
				}
				p { font-size: 16px; line-height: 1.5;  }
			}
			.industries-image-box {
				margin: 0 0 15px 0;
			}
		}
	}
	
}

@media screen and (min-width: 768px) and (max-width: 1024px){

	// .plr-120{ padding-left: 15px !important; padding-right: 15px !important; }
	// .plr-78{ padding-left: 15px !important; padding-right: 15px !important; }

	.future-detail-text-section {
		padding: 60px 0 60px 0;
		.future-detail-text-inner {
			.heading-div {
				margin-bottom: 0px;
				h2 { font-size: 2rem; margin: 0 0 30px 0; }
				.link-hr::before{ bottom: 3px; height: 3px; }
			}
		}
	}

	.services-development-section {
		.heading-div {
			h2 { font-size: 1.8rem; }
			.link-hr::before{ bottom: 3px; height: 3px; }
		}
		.services-dev-root {
			.w-100 { width: unset !important; }
			.services-dev-box {
				padding: 15px 15px 15px 15px;
				margin: 0 0 30px 0;
				min-height: auto;
				.services-icons {
					padding: 0 5px; width: 70px;
					.img-icon {
						width: 60px;
						height: 60px;
					}
				}
				.services-content {
					padding: 0 0px 0 10px; margin: 0; width: calc(100% - 70px);
					h4 { font-size: 18px; }
					p{     font-size: 14px; }
				}
			}
		}
	}
	
	.solutions-tech-text-section {
		padding: 100px 0 60px 0;
		&::before{ background-size: 225px; }
		.solutions-tech-text-inner {
			.heading-div {     margin-bottom: 40px;
				h2 {
					font-size: 2rem;
					.link-hr::before{ bottom: 3px; height: 3px; }
				}
				p{     font-size: 14px; }
			}
		}
	}
	
	.quick-text-box-root {
		.quick-text-box {
			h3 {
				font-size: 18px; padding: 0 0 5px 0; margin: 0 0 10px 0;
				&:after{ margin:5px 0 0 0; }
			}
			p { font-size: 14px; line-height: 24px; }
		}
	}

	.approach-dev-section {
		padding: 60px 0 60px 0;
		.approach-dev-inner {
			.heading-div {
				h2 {
					font-size: 2rem;
					.link-hr::before{ bottom: 3px; height: 3px; }
				}
				p {
					font-size: 16px;
				}
			}

			.approach-waves-root {
				h4 { font-weight: 600; font-size: 12px; text-align: left; width: 100%; padding: 0 10px 0 30px; margin: -2px 0 0 0; word-break: break-word; line-height: 1.5; }
				.desc-div-row { counter-reset: dots; }
				.content-box { max-width: 33.3%; width: 33.3%; text-align: center; margin: 0 auto 20px auto; position: relative;
					&::before{ counter-increment: dots; content: counter(dots); position: absolute; left: 0; top: 0; padding: 2px 0 0 0; font-weight: 600; font-size: 12px; color: #ffffff; line-height: 18px; letter-spacing: 0; text-align: center; background: #ED5C37; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11); height: 22px; width: 22px; border-radius: 100%; display: flex; align-items: center; justify-content: center; }
				}
				.span-block { line-height: inherit; }
				.img-thumb{ display: none; }

				// 18th sept
			

				.desc-div-row {
					display: none;
				}

				.desc-mobile{
					display: block;

					.desc-div-row {
						display: flex;
					}
				}
				.desc-div-top {
					justify-content: flex-start;
					padding-bottom: 40px;
					.content-box {
						margin: 0 0 20px 0;
						&:nth-child(1) {
							margin-left: 0px;
						}
	
						&:nth-child(2) {
							margin-left: 0px;
						}
					}
				}
	
				.desc-div-bottom {
					.content-box {
						margin: 0 0 20px 0;
						&:nth-child(1) {
							margin-left: 0px;
						}
	
						&:nth-child(2) {
							margin-left: 0px;
						}
					}
				}
			}
		}

	}



	
	.why-us-section {
		padding: 60px 0 60px 0;
		
		.why-us-div {
			.heading-div {
				h2 {
					font-size: 2rem;
					.link-hr::before{ bottom: 3px; height: 3px; }
				}
				p { font-size: 16px; line-height: 1.5;  }
			}

			.services-root {
				.services-box { border: 0px solid #DBDEE5; padding: 10px 0px; margin: 0 0 20px 0;
					padding: 15px 15px 15px 15px; flex: 0 0 100%; max-width: 100%; min-height: auto;
					.services-icons {
						padding: 0 5px; min-width: 60px; height: 60px;
					}
					.service-icon {
						width: 28px;
						height: 28px;
					}
					.services-content {
						width: calc(100% - 60px);
						padding: 0 0px 0 15px;
						h4{ font-size: 18px; }
						p{ font-size: 14px; font-weight: 400; line-height: 1.5rem;}
					}
				}
			}
		}
	}

	.technologies-dev-section {
		.technologies-dev-inner {
			.heading-div {     margin-bottom: 40px;
				h2 { 
					font-size: 2rem;
					.link-hr::before{ bottom: 3px; height: 3px; }
				}
			}
			.technologies-icon-root {
				.language-box {
					padding: 20px 10px;
					margin: 0 0px 30px 0;
					min-width: 25%;
					h4{ font-size: 16px; }
				}
			}
		}
	}
	
	.development-info-section {
		.development-info-div {
			.development-info-root {
				padding: 40px 15px 30px 15px; margin: 0 0 10px 0; width: 100%;
				.content-div-root{  padding: 0px 10px; 
					h2{ font-size: 1.8rem; line-height: 1.5;
						.link-hr::before{ bottom: 3px; height: 3px; }
					}
					p { margin: 0 0 30px 0; font-size: 16px; line-height: 26px; }
					.content-apply {
						li {
							padding: 0 0 0 45px;
							margin: 0 0 30px 0;
						}
						.arrow-icons {
							height: 30px;
							width: 30px;
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	
	.industries-dev-section {
		.industries-dev-inner {
			.heading-div {
				h2{ font-size: 1.8rem; line-height: 1.5;margin: 0 auto 30px auto;
					.link-hr::before{ bottom: 3px; height: 3px; }
				}
				p { font-size: 16px; line-height: 1.5;  }
			}
			.industries-image-box {
				margin: 0 0 30px 0;
				.industries-image-box-inner { height: 250px; }
				h3 { font-size: 18px; line-height: 30px; width: 100%; padding: 20px 20px; }
				.img-industry{ height: 250px; }
			}
		}
	}
	
}



.br-1 {
    border-right: 1px solid #DBDEE5 !important;
}

.bb-1 {
    border-bottom: 1px solid #DBDEE5 !important;
}
.bl-1 {
    border-left: 1px solid #DBDEE5 !important;
}

.bt-1 {
    border-top: 1px solid #DBDEE5 !important;
}
