.services-box-white-section .services-box-div {
  background-color: #ffffff;
}

.services-box-white-section .services-box-div .heading-div span.number-span {
  color: #ffffff;
  -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
  -webkit-text-stroke-color: rgba(1, 1, 1, 0.5) !important;
  -webkit-text-stroke-width: 1px;
}

.services-box-white-section .services-box-div .heading-div h2 {
  color: #000000;
}

.services-box-white-section .services-box-div .services-box-thumb img {
  margin: 0 50px 70px 50px;
}

.services-box-white-section .services-box-div .services-box-thumb .rect-fill-box {
  background-color: #ffffff;
}

.services-box-white-section .services-box-div .services-box-row2 .services-box-thumb .outlined-box {
  right: 0;
  left: auto;
}

.services-box-white-section .services-box-div .services-box-row2 .services-box-thumb .rect-fill-box {
  background-color: #ffffff;
}
/*# sourceMappingURL=service-detail2.css.map */