/* colors */
/* End of colors */
.menubar-header {
  background-color: rgba(80, 80, 80, 0.5);
  border-color: transparent;
}

.menubar-header .header-div .header-work-text a {
  color: #ffffff !important;
}

.menubar-header .header-div .header-work-text a span {
  color: #717171 !important;
}

.menubar-header .header-div .nav-center-div .nav-m-bar .menu-icon .bar .fill {
  background-color: #ffffff !important;
}

.new-project {
  background-color: rgba(80, 80, 80, 0.5);
}

.new-project .new-project-top-div .project-btn-link .arrow-right-circle {
  background-color: #ffffff;
}

.new-project .new-project-link-middle .transform-link {
  color: #ffffff;
}

.inner-page .menubar-header {
  background-color: rgba(80, 80, 80, 0.5);
  border-color: transparent;
}

.inner-page .banner-service-detail {
  background-image: url(../images/service-banner.png);
  background-size: cover;
  position: relative;
}

.inner-page .banner-service-detail::before {
  content: '';
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  opacity: 0.5;
  z-index: 99;
}

.future-detail-text-section {
  padding: 100px 0 100px 0;
  background-color: #ffffff;
  position: relative;
}

.future-detail-text-section::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 120px;
  width: 80%;
  margin: 0 auto;
  height: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(114, 114, 114, 0.4);
}

.future-detail-text-section .future-detail-text-inner {
  padding: 0 60px;
}

.future-detail-text-section .future-detail-text-inner .heading-div {
  margin-bottom: 60px;
}

.future-detail-text-section .future-detail-text-inner .heading-div h2 {
  margin: 0 0 60px 0;
  font-size: 3.625rem;
  color: #181818;
}

.future-detail-text-section .future-detail-text-inner .heading-div .link-hr::before {
  background-color: #727272;
}

.future-detail-text-section .future-detail-text-inner p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  max-width: 650px;
  font-weight: 400;
}

.services-development-section {
  background-color: #181818;
  padding: 60px 0 60px 0;
  position: relative;
}

.services-development-section .services-development-inner {
  padding: 0 60px;
}

.services-development-section .heading-div {
  margin-bottom: 20px;
}

.services-development-section .heading-div h2 {
  margin: 0 0 20px 0;
  font-size: 2.75rem;
  color: #fff;
}

.services-development-section .heading-div .link-hr::before {
  bottom: -4px;
}

.services-development-section .services-dev-root {
  padding: 0;
  margin: 60px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-development-section .services-dev-root .services-dev-box {
  padding: 30px 30px 30px 30px;
  margin: 0 0 40px 0;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border-radius: 0px;
}

.services-development-section .services-dev-root .services-dev-box .services-icons {
  padding: 0 10px;
  width: 100px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-development-section .services-dev-root .services-dev-box .services-icons .service-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-development-section .services-dev-root .services-dev-box .services-icons .img-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.services-development-section .services-dev-root .services-dev-box .services-content {
  padding: 0 20px 0 40px;
  margin: 0;
  width: calc(100% - 100px);
}

.services-development-section .services-dev-root .services-dev-box .services-content h4 {
  padding: 0;
  margin: 0px 0 10px 0;
  font-size: 22px;
  font-weight: 400;
  color: white;
}

.services-development-section .services-dev-root .services-dev-box .services-content p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 0 0;
  color: #727272;
  font-weight: 400;
}

.services-development-section .services-dev-root .services-dev-box:hover {
  background-color: #000;
  border-radius: 8px;
}

.solutions-tech-text-section {
  padding: 100px 0 100px 0;
  background-color: #ffffff;
  position: relative;
}

.solutions-tech-text-section::before {
  content: '';
  background: url(../images/service-img/shape-tech-mix.svg) no-repeat top right;
  background-size: 425px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.solutions-tech-text-section .solutions-tech-text-inner {
  padding: 0 60px;
}

.solutions-tech-text-section .solutions-tech-text-inner .heading-div {
  margin-bottom: 80px;
  max-width: 750px;
}

.solutions-tech-text-section .solutions-tech-text-inner .heading-div h2 {
  margin: 0 0 20px 0;
  font-size: 3rem;
  line-height: 1.4;
  color: #181818;
}

.solutions-tech-text-section .solutions-tech-text-inner .heading-div .link-hr::before {
  background-color: #727272;
}

.solutions-tech-text-section .solutions-tech-text-inner .heading-div p {
  font-size: 22px;
  font-weight: 300;
  color: #000000;
  max-width: 700px;
  font-weight: 400;
  line-height: 1.5;
}

.quick-text-box-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.quick-text-box-root .quick-text-box {
  padding: 20px 5px;
}

.quick-text-box-root .quick-text-box h3 {
  color: #ED5C37;
  font-size: 24px;
  font-weight: 600;
  padding: 0 0 5px 0;
  text-align: center;
  margin: 0 0 20px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quick-text-box-root .quick-text-box h3:after {
  content: "";
  position: relative;
  width: 20px;
  height: 3px;
  display: block;
  border-radius: 0px;
  background-color: #282828;
  margin: 20px 0 0 0;
}

.quick-text-box-root .quick-text-box p {
  font-weight: 400;
  font-size: 18px;
  color: #505050;
  letter-spacing: 0;
  text-align: center;
  line-height: 32px;
}

.approach-dev-section {
  padding: 100px 0 100px 0;
  background-color: #FAFAFA;
  position: relative;
}

.approach-dev-section .approach-dev-inner {
  padding: 0 60px;
}

.approach-dev-section .approach-dev-inner .heading-div {
  margin-bottom: 70px;
}

.approach-dev-section .approach-dev-inner .heading-div h2 {
  margin: 0 0 30px 0;
  font-size: 3.625rem;
  color: #181818;
  max-width: 1100px;
}

.approach-dev-section .approach-dev-inner .heading-div .link-hr::before {
  background-color: #ED5C37;
}

.approach-dev-section .approach-dev-inner .heading-div p {
  font-weight: 400;
}

.approach-dev-section .approach-dev-inner .approach-waves-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.approach-dev-section .approach-dev-inner .approach-waves-root .approach-waves-image {
  padding: 0;
  margin: 0;
  position: relative;
}

.approach-dev-section .approach-dev-inner .approach-waves-root .img-thumb {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.approach-dev-section .approach-dev-inner .approach-waves-root .img-waves {
  width: 100%;
}

.approach-dev-section .approach-dev-inner .approach-waves-root h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #181818;
  letter-spacing: 0;
  text-align: center;
  display: inline-block;
}

.approach-dev-section .approach-dev-inner .approach-waves-root h4 span {
  font-size: inherit;
}

.approach-dev-section .approach-dev-inner .approach-waves-root .content-box {
  max-width: 200px;
}

.approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-top {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 40px;
}

.approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-top .content-box:nth-child(1) {
  margin-left: -10px;
}

.approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-top .content-box:nth-child(2) {
  margin-left: 40px;
}

.approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-bottom .content-box:nth-child(1) {
  margin-left: -10px;
}

.approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-bottom .content-box:nth-child(2) {
  margin-left: 40px;
}

.approach-dev-section .approach-dev-inner .approach-waves-root .desc-mobile {
  display: none;
}

.s-icon-circle1 {
  -webkit-mask: url(../images/service-img/s-icon1.svg) no-repeat 50% 50%;
  mask: url(../images/service-img/s-icon1.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  mask-size: contain;
  width: 37px;
  height: 37px;
  background-color: white;
}

.s-icon-circle2 {
  -webkit-mask: url(../images/service-img/s-icon2.svg) no-repeat 50% 50%;
  mask: url(../images/service-img/s-icon2.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  mask-size: contain;
  width: 37px;
  height: 37px;
  background-color: white;
}

.s-icon-circle3 {
  -webkit-mask: url(../images/service-img/s-icon3.svg) no-repeat 50% 50%;
  mask: url(../images/service-img/s-icon3.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  mask-size: contain;
  width: 37px;
  height: 37px;
  background-color: white;
}

.s-icon-circle4 {
  -webkit-mask: url(../images/service-img/s-icon4.svg) no-repeat 50% 50%;
  mask: url(../images/service-img/s-icon4.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  mask-size: contain;
  width: 37px;
  height: 37px;
  background-color: white;
}

.s-icon-circle5 {
  -webkit-mask: url(../images/service-img/s-icon5.svg) no-repeat 50% 50%;
  mask: url(../images/service-img/s-icon5.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  mask-size: contain;
  width: 37px;
  height: 37px;
  background-color: white;
}

.s-icon-circle6 {
  -webkit-mask: url(../images/service-img/s-icon6.svg) no-repeat 50% 50%;
  mask: url(../images/service-img/s-icon6.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  mask-size: contain;
  width: 37px;
  height: 37px;
  background-color: white;
}

.why-us-section {
  padding: 100px 0 0 0;
  margin: 0;
  position: relative;
  background-color: #fafafa;
}

.why-us-section .why-us-div {
  padding: 0 60px;
}

.why-us-section .why-us-div .heading-div {
  max-width: 100%;
}

.why-us-section .why-us-div .heading-div h2 {
  margin: 0 0 20px 0;
  font-size: 3.625rem;
  color: black;
}

.why-us-section .why-us-div .heading-div p {
  font-weight: 300;
  font-size: 22px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.6;
  font-weight: 400;
}

.why-us-section .why-us-div .services-root {
  padding: 0;
  margin: 60px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why-us-section .why-us-div .services-root .services-box {
  padding: 50px 40px 40px 40px;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #DBDEE5;
  border-bottom: 0px;
}

.why-us-section .why-us-div .services-root .services-box:nth-child(1), .why-us-section .why-us-div .services-root .services-box:nth-child(2) {
  border-top-color: transparent;
}

.why-us-section .why-us-div .services-root .services-box:nth-child(odd) {
  border-left-color: transparent;
  border-right-color: transparent;
}

.why-us-section .why-us-div .services-root .services-box:nth-child(even) {
  border-right-color: transparent;
}

.why-us-section .why-us-div .services-root .services-box .services-icons {
  padding: 0 15px;
  min-width: 74px;
  background-color: #EFF5F7;
  height: 74px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ED5C37), to(#FF7D54));
  background-image: linear-gradient(180deg, #ED5C37 0%, #FF7D54 100%);
  border-radius: 100px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why-us-section .why-us-div .services-root .services-box .services-content {
  width: calc(100% - 74px);
  padding: 0 20px 0 40px;
  margin: 0;
}

.why-us-section .why-us-div .services-root .services-box .services-content h4 {
  padding: 0;
  margin: 0px 0 10px 0;
  font-size: 21px;
  font-weight: 700;
  color: #181818;
}

.why-us-section .why-us-div .services-root .services-box .services-content p {
  font-size: 15px;
  font-weight: 400;
}

.why-us-section .why-us-div .services-root .services-box .services-content .link-box-div {
  padding: 0;
  margin: 10px 0 0 0;
  position: relative;
}

.why-us-section .why-us-div .services-root .services-box .services-content a.btn.btn-more {
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #181818;
  letter-spacing: 0.5px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.why-us-section .why-us-div .services-root .services-box .services-content a.btn.btn-more:hover, .why-us-section .why-us-div .services-root .services-box .services-content a.btn.btn-more:focus {
  color: #ed5c37;
}

.technologies-dev-section {
  padding: 60px 0 60px 0;
  background-color: #ffffff;
  position: relative;
}

.technologies-dev-section .technologies-dev-inner {
  padding: 0 60px;
}

.technologies-dev-section .technologies-dev-inner .heading-div {
  margin-bottom: 80px;
}

.technologies-dev-section .technologies-dev-inner .heading-div h2 {
  margin: 0 0 30px 0;
  font-size: 3.625rem;
  color: #181818;
  max-width: 1100px;
}

.technologies-dev-section .technologies-dev-inner .heading-div .link-hr::before {
  background-color: #ED5C37;
}

.technologies-dev-section .technologies-dev-inner .technologies-icon-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.technologies-dev-section .technologies-dev-inner .technologies-icon-root .technologies-icon-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.technologies-dev-section .technologies-dev-inner .technologies-icon-root .language-box {
  padding: 20px 10px;
  margin: 0 30px 30px 0;
  position: relative;
  text-align: center;
  min-width: 120px;
}

.technologies-dev-section .technologies-dev-inner .technologies-icon-root .language-box .img-thumb {
  margin: 0 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.technologies-dev-section .technologies-dev-inner .technologies-icon-root .language-box .img-language {
  height: 55px;
  width: 55px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.technologies-dev-section .technologies-dev-inner .technologies-icon-root .language-box h4 {
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  color: #181818;
  letter-spacing: 1px;
  text-align: center;
}

.development-info-section {
  padding: 80px 0px 70px 0px;
  margin: 0;
  position: relative;
  background-color: #EFF5F7;
  background: url(../images/service-img/service-img.jpg) no-repeat;
  background-size: cover;
}

.development-info-section .development-info-div {
  padding: 0;
}

.development-info-section .development-info-div .development-info-root {
  padding: 80px 50px 50px 50px;
  margin: 0 0 10px 0;
  background-color: white;
  width: 100%;
  max-width: 1100px;
}

.development-info-section .development-info-div .img-brand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.development-info-section .development-info-div .content-div-root {
  padding: 10px 30px 10px 30px;
}

.development-info-section .development-info-div .content-div-root p {
  margin: 0 0 30px 0;
  font-size: 22px;
  line-height: 40px;
  color: black;
}

.development-info-section .development-info-div .content-div-root .link {
  color: #181818;
}

.development-info-section .development-info-div .content-div-root h2 {
  font-size: 48px;
  font-weight: 600;
  color: #181818;
  letter-spacing: 0;
  line-height: 71px;
  margin: 0 0 35px 0;
}

.development-info-section .development-info-div .content-div-root b {
  font-weight: 600;
}

.development-info-section .development-info-div .content-div-root .content-apply li {
  position: relative;
  padding: 0 0 0 100px;
  margin: 0 0 30px 0;
}

.development-info-section .development-info-div .content-div-root .content-apply p {
  margin: 0;
  font-weight: 400;
}

.development-info-section .development-info-div .content-div-root .content-apply .arrow-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  background: rgba(239, 245, 247, 0.5);
  font-size: 20px;
  color: #727272;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.industries-dev-section {
  padding: 100px 0 100px 0;
  background-color: #fff;
  position: relative;
}

.industries-dev-section .industries-dev-inner {
  padding: 0 60px;
}

.industries-dev-section .industries-dev-inner .heading-div {
  margin-bottom: 70px;
}

.industries-dev-section .industries-dev-inner .heading-div h2 {
  margin: 0 auto 50px auto;
  font-size: 3.625rem;
  color: #181818;
  max-width: 1100px;
}

.industries-dev-section .industries-dev-inner .heading-div .link-hr::before {
  background-color: #ED5C37;
}

.industries-dev-section .industries-dev-inner .heading-div p {
  max-width: 1000px;
  margin: 0 auto 30px auto;
  font-weight: 400;
  text-align: center;
}

.industries-dev-section .industries-dev-inner .industries-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.industries-dev-section .industries-dev-inner .industries-image-box {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
  overflow: hidden;
}

.industries-dev-section .industries-dev-inner .industries-image-box .industries-image-box-inner {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.industries-dev-section .industries-dev-inner .industries-image-box .overlay-img {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.industries-dev-section .industries-dev-inner .industries-image-box .overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.industries-dev-section .industries-dev-inner .industries-image-box h3 {
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 40px;
  text-shadow: 0 1px 0 #181818;
  width: 100%;
  padding: 20px 20px;
}

.industries-dev-section .industries-dev-inner .industries-image-box .img-industry {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.industries-dev-section .industries-dev-inner .industries-image-box .link-box {
  display: block;
}

.industries-dev-section .industries-dev-inner .industries-image-box .link-box:hover .img-industry {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.why-python-development-section {
  padding: 120px 0;
  background-color: #ffffff;
}

.why-python-development-section .python-development-heading .heading-div h2 {
  margin: 0 0 30px 0;
  font-size: 3.625rem;
  color: #181818;
}

.why-python-development-section .development-box {
  padding: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 4px;
          box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 4px;
  height: 100%;
  display: block;
}

.why-python-development-section .development-box .img-deve {
  height: 62px;
  width: 62px;
  border-radius: 100%;
  background-color: #EFF5F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.why-python-development-section .development-box h3 {
  color: #727272;
  font-weight: 800;
  line-height: 33px;
  font-size: 22px;
  margin-bottom: 10px;
}

.why-python-development-section .development-box p {
  color: #99A7A8;
  font-size: 12px;
  line-height: 18px;
}

.plr-120 {
  padding-left: 120px !important;
  padding-right: 120px !important;
}

.plr-78 {
  padding-left: 78px !important;
  padding-right: 78px !important;
}

@media screen and (min-width: 1025px) and (max-width: 1290px) {
  .industries-dev-section .industries-dev-inner .industries-image-box .industries-image-box-inner {
    height: 250px;
  }
  .industries-dev-section .industries-dev-inner .industries-image-box h3 {
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    padding: 20px 20px;
  }
  .industries-dev-section .industries-dev-inner .industries-image-box .img-industry {
    height: 250px;
  }
}

@media screen and (max-width: 767px) {
  .plr-120 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .plr-78 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .future-detail-text-section {
    padding: 60px 0 60px 0;
  }
  .future-detail-text-section .future-detail-text-inner .heading-div {
    margin-bottom: 0px;
  }
  .future-detail-text-section .future-detail-text-inner .heading-div h2 {
    font-size: 2rem;
    margin: 0 0 30px 0;
  }
  .future-detail-text-section .future-detail-text-inner .heading-div .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .services-development-section .heading-div h2 {
    font-size: 1.8rem;
  }
  .services-development-section .heading-div .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .services-development-section .services-dev-root .w-100 {
    width: unset !important;
  }
  .services-development-section .services-dev-root .services-dev-box {
    padding: 15px 15px 15px 15px;
    margin: 0 0 30px 0;
    min-height: auto;
  }
  .services-development-section .services-dev-root .services-dev-box .services-icons {
    padding: 0 5px;
    width: 70px;
  }
  .services-development-section .services-dev-root .services-dev-box .services-icons .img-icon {
    width: 60px;
    height: 60px;
  }
  .services-development-section .services-dev-root .services-dev-box .services-content {
    padding: 0 0px 0 10px;
    margin: 0;
    width: calc(100% - 70px);
  }
  .services-development-section .services-dev-root .services-dev-box .services-content h4 {
    font-size: 18px;
  }
  .services-development-section .services-dev-root .services-dev-box .services-content p {
    font-size: 14px;
  }
  .solutions-tech-text-section {
    padding: 100px 0 60px 0;
  }
  .solutions-tech-text-section::before {
    background-size: 125px;
  }
  .solutions-tech-text-section .solutions-tech-text-inner .heading-div {
    margin-bottom: 40px;
  }
  .solutions-tech-text-section .solutions-tech-text-inner .heading-div h2 {
    font-size: 2rem;
  }
  .solutions-tech-text-section .solutions-tech-text-inner .heading-div h2 .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .solutions-tech-text-section .solutions-tech-text-inner .heading-div p {
    font-size: 14px;
  }
  .quick-text-box-root .quick-text-box h3 {
    font-size: 18px;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
  }
  .quick-text-box-root .quick-text-box h3:after {
    margin: 5px 0 0 0;
  }
  .quick-text-box-root .quick-text-box p {
    font-size: 14px;
    line-height: 24px;
  }
  .approach-dev-section {
    padding: 60px 0 60px 0;
  }
  .approach-dev-section .approach-dev-inner .heading-div h2 {
    font-size: 2rem;
  }
  .approach-dev-section .approach-dev-inner .heading-div h2 .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .approach-dev-section .approach-dev-inner .heading-div p {
    font-size: 16px;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root h4 {
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    width: 100%;
    padding: 0 10px 0 30px;
    margin: -2px 0 0 0;
    word-break: break-word;
    line-height: 1.5;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-row {
    counter-reset: dots;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .content-box {
    max-width: 50%;
    width: 50%;
    text-align: center;
    margin: 0 auto 20px auto;
    position: relative;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .content-box::before {
    counter-increment: dots;
    content: counter(dots);
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 0 0 0;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    background: #ED5C37;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    height: 22px;
    width: 22px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .span-block {
    line-height: inherit;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .img-thumb {
    display: none;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-row {
    display: none;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-mobile {
    display: block;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-mobile .desc-div-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 40px;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-top .content-box {
    margin: 0 0 20px 0;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-top .content-box:nth-child(1) {
    margin-left: 0px;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-top .content-box:nth-child(2) {
    margin-left: 0px;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-bottom .content-box {
    margin: 0 0 20px 0;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-bottom .content-box:nth-child(1) {
    margin-left: 0px;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-bottom .content-box:nth-child(2) {
    margin-left: 0px;
  }
  .why-us-section {
    padding: 60px 0 60px 0;
  }
  .why-us-section .why-us-div .heading-div h2 {
    font-size: 2rem;
  }
  .why-us-section .why-us-div .heading-div h2 .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .why-us-section .why-us-div .heading-div p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left !important;
  }
  .why-us-section .why-us-div .services-root .services-box {
    border: 0px solid #DBDEE5;
    padding: 10px 0px;
    margin: 0 0 20px 0;
    padding: 15px 15px 15px 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    min-height: auto;
  }
  .why-us-section .why-us-div .services-root .services-box .services-icons {
    padding: 0 5px;
    min-width: 60px;
    height: 60px;
  }
  .why-us-section .why-us-div .services-root .services-box .service-icon {
    width: 28px;
    height: 28px;
  }
  .why-us-section .why-us-div .services-root .services-box .services-content {
    width: calc(100% - 60px);
    padding: 0 0px 0 15px;
  }
  .why-us-section .why-us-div .services-root .services-box .services-content h4 {
    font-size: 18px;
  }
  .why-us-section .why-us-div .services-root .services-box .services-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5rem;
  }
  .technologies-dev-section .technologies-dev-inner .heading-div {
    margin-bottom: 40px;
  }
  .technologies-dev-section .technologies-dev-inner .heading-div h2 {
    font-size: 2rem;
  }
  .technologies-dev-section .technologies-dev-inner .heading-div h2 .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .technologies-dev-section .technologies-dev-inner .technologies-icon-root .language-box {
    padding: 20px 10px;
    margin: 0 0px 30px 0;
    min-width: 50%;
  }
  .technologies-dev-section .technologies-dev-inner .technologies-icon-root .language-box h4 {
    font-size: 16px;
  }
  .development-info-section .development-info-div .development-info-root {
    padding: 40px 15px 30px 15px;
    margin: 0 0 10px 0;
    width: 100%;
  }
  .development-info-section .development-info-div .development-info-root .content-div-root {
    padding: 0px 10px;
  }
  .development-info-section .development-info-div .development-info-root .content-div-root h2 {
    font-size: 1.8rem;
    line-height: 1.5;
  }
  .development-info-section .development-info-div .development-info-root .content-div-root h2 .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .development-info-section .development-info-div .development-info-root .content-div-root p {
    margin: 0 0 30px 0;
    font-size: 16px;
    line-height: 26px;
  }
  .development-info-section .development-info-div .development-info-root .content-div-root .content-apply li {
    padding: 0 0 0 45px;
    margin: 0 0 30px 0;
  }
  .development-info-section .development-info-div .development-info-root .content-div-root .content-apply .arrow-icons {
    height: 30px;
    width: 30px;
    font-size: 16px;
  }
  .industries-dev-section .industries-dev-inner .heading-div h2 {
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 0 auto 30px auto;
  }
  .industries-dev-section .industries-dev-inner .heading-div h2 .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .industries-dev-section .industries-dev-inner .heading-div p {
    font-size: 16px;
    line-height: 1.5;
  }
  .industries-dev-section .industries-dev-inner .industries-image-box {
    margin: 0 0 15px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .future-detail-text-section {
    padding: 60px 0 60px 0;
  }
  .future-detail-text-section .future-detail-text-inner .heading-div {
    margin-bottom: 0px;
  }
  .future-detail-text-section .future-detail-text-inner .heading-div h2 {
    font-size: 2rem;
    margin: 0 0 30px 0;
  }
  .future-detail-text-section .future-detail-text-inner .heading-div .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .services-development-section .heading-div h2 {
    font-size: 1.8rem;
  }
  .services-development-section .heading-div .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .services-development-section .services-dev-root .w-100 {
    width: unset !important;
  }
  .services-development-section .services-dev-root .services-dev-box {
    padding: 15px 15px 15px 15px;
    margin: 0 0 30px 0;
    min-height: auto;
  }
  .services-development-section .services-dev-root .services-dev-box .services-icons {
    padding: 0 5px;
    width: 70px;
  }
  .services-development-section .services-dev-root .services-dev-box .services-icons .img-icon {
    width: 60px;
    height: 60px;
  }
  .services-development-section .services-dev-root .services-dev-box .services-content {
    padding: 0 0px 0 10px;
    margin: 0;
    width: calc(100% - 70px);
  }
  .services-development-section .services-dev-root .services-dev-box .services-content h4 {
    font-size: 18px;
  }
  .services-development-section .services-dev-root .services-dev-box .services-content p {
    font-size: 14px;
  }
  .solutions-tech-text-section {
    padding: 100px 0 60px 0;
  }
  .solutions-tech-text-section::before {
    background-size: 225px;
  }
  .solutions-tech-text-section .solutions-tech-text-inner .heading-div {
    margin-bottom: 40px;
  }
  .solutions-tech-text-section .solutions-tech-text-inner .heading-div h2 {
    font-size: 2rem;
  }
  .solutions-tech-text-section .solutions-tech-text-inner .heading-div h2 .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .solutions-tech-text-section .solutions-tech-text-inner .heading-div p {
    font-size: 14px;
  }
  .quick-text-box-root .quick-text-box h3 {
    font-size: 18px;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
  }
  .quick-text-box-root .quick-text-box h3:after {
    margin: 5px 0 0 0;
  }
  .quick-text-box-root .quick-text-box p {
    font-size: 14px;
    line-height: 24px;
  }
  .approach-dev-section {
    padding: 60px 0 60px 0;
  }
  .approach-dev-section .approach-dev-inner .heading-div h2 {
    font-size: 2rem;
  }
  .approach-dev-section .approach-dev-inner .heading-div h2 .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .approach-dev-section .approach-dev-inner .heading-div p {
    font-size: 16px;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root h4 {
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    width: 100%;
    padding: 0 10px 0 30px;
    margin: -2px 0 0 0;
    word-break: break-word;
    line-height: 1.5;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-row {
    counter-reset: dots;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .content-box {
    max-width: 33.3%;
    width: 33.3%;
    text-align: center;
    margin: 0 auto 20px auto;
    position: relative;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .content-box::before {
    counter-increment: dots;
    content: counter(dots);
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 0 0 0;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    background: #ED5C37;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    height: 22px;
    width: 22px;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .span-block {
    line-height: inherit;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .img-thumb {
    display: none;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-row {
    display: none;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-mobile {
    display: block;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-mobile .desc-div-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 40px;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-top .content-box {
    margin: 0 0 20px 0;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-top .content-box:nth-child(1) {
    margin-left: 0px;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-top .content-box:nth-child(2) {
    margin-left: 0px;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-bottom .content-box {
    margin: 0 0 20px 0;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-bottom .content-box:nth-child(1) {
    margin-left: 0px;
  }
  .approach-dev-section .approach-dev-inner .approach-waves-root .desc-div-bottom .content-box:nth-child(2) {
    margin-left: 0px;
  }
  .why-us-section {
    padding: 60px 0 60px 0;
  }
  .why-us-section .why-us-div .heading-div h2 {
    font-size: 2rem;
  }
  .why-us-section .why-us-div .heading-div h2 .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .why-us-section .why-us-div .heading-div p {
    font-size: 16px;
    line-height: 1.5;
  }
  .why-us-section .why-us-div .services-root .services-box {
    border: 0px solid #DBDEE5;
    padding: 10px 0px;
    margin: 0 0 20px 0;
    padding: 15px 15px 15px 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    min-height: auto;
  }
  .why-us-section .why-us-div .services-root .services-box .services-icons {
    padding: 0 5px;
    min-width: 60px;
    height: 60px;
  }
  .why-us-section .why-us-div .services-root .services-box .service-icon {
    width: 28px;
    height: 28px;
  }
  .why-us-section .why-us-div .services-root .services-box .services-content {
    width: calc(100% - 60px);
    padding: 0 0px 0 15px;
  }
  .why-us-section .why-us-div .services-root .services-box .services-content h4 {
    font-size: 18px;
  }
  .why-us-section .why-us-div .services-root .services-box .services-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5rem;
  }
  .technologies-dev-section .technologies-dev-inner .heading-div {
    margin-bottom: 40px;
  }
  .technologies-dev-section .technologies-dev-inner .heading-div h2 {
    font-size: 2rem;
  }
  .technologies-dev-section .technologies-dev-inner .heading-div h2 .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .technologies-dev-section .technologies-dev-inner .technologies-icon-root .language-box {
    padding: 20px 10px;
    margin: 0 0px 30px 0;
    min-width: 25%;
  }
  .technologies-dev-section .technologies-dev-inner .technologies-icon-root .language-box h4 {
    font-size: 16px;
  }
  .development-info-section .development-info-div .development-info-root {
    padding: 40px 15px 30px 15px;
    margin: 0 0 10px 0;
    width: 100%;
  }
  .development-info-section .development-info-div .development-info-root .content-div-root {
    padding: 0px 10px;
  }
  .development-info-section .development-info-div .development-info-root .content-div-root h2 {
    font-size: 1.8rem;
    line-height: 1.5;
  }
  .development-info-section .development-info-div .development-info-root .content-div-root h2 .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .development-info-section .development-info-div .development-info-root .content-div-root p {
    margin: 0 0 30px 0;
    font-size: 16px;
    line-height: 26px;
  }
  .development-info-section .development-info-div .development-info-root .content-div-root .content-apply li {
    padding: 0 0 0 45px;
    margin: 0 0 30px 0;
  }
  .development-info-section .development-info-div .development-info-root .content-div-root .content-apply .arrow-icons {
    height: 30px;
    width: 30px;
    font-size: 16px;
  }
  .industries-dev-section .industries-dev-inner .heading-div h2 {
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 0 auto 30px auto;
  }
  .industries-dev-section .industries-dev-inner .heading-div h2 .link-hr::before {
    bottom: 3px;
    height: 3px;
  }
  .industries-dev-section .industries-dev-inner .heading-div p {
    font-size: 16px;
    line-height: 1.5;
  }
  .industries-dev-section .industries-dev-inner .industries-image-box {
    margin: 0 0 30px 0;
  }
  .industries-dev-section .industries-dev-inner .industries-image-box .industries-image-box-inner {
    height: 250px;
  }
  .industries-dev-section .industries-dev-inner .industries-image-box h3 {
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    padding: 20px 20px;
  }
  .industries-dev-section .industries-dev-inner .industries-image-box .img-industry {
    height: 250px;
  }
}

.br-1 {
  border-right: 1px solid #DBDEE5 !important;
}

.bb-1 {
  border-bottom: 1px solid #DBDEE5 !important;
}

.bl-1 {
  border-left: 1px solid #DBDEE5 !important;
}

.bt-1 {
  border-top: 1px solid #DBDEE5 !important;
}
/*# sourceMappingURL=service.css.map */