.services-box-white-section{
    .services-box-div {
        background-color: #ffffff;
        .heading-div {
            span.number-span {
                color: #ffffff;
                -webkit-text-fill-color: rgba(255, 255, 255, 0) !important;
                -webkit-text-stroke-color: rgba(1, 1, 1, 0.5) !important;
                -webkit-text-stroke-width: 1px;

            }
            h2 {
                color: #000000;
            }
        }

        .services-box-thumb {
            img{
                margin: 0 50px 70px 50px;
            }
            .rect-fill-box{
                background-color: #ffffff;
            }
        

        }

        .services-box-row2{
            .services-box-thumb {
                .outlined-box{
                    right: 0;
                    left: auto;
                }
                .rect-fill-box{
                    background-color: #ffffff;
                }
            }
        }
    }
}
