

// slide menu and banner overlay

	// menu slide
	.menubar-header {
		background-color: rgba(80, 80, 80, 0.50);
		border-color: transparent;
		.header-div {
			.header-work-text {
				a {
					color: #ffffff !important;
					span {
						color: #717171 !important;
					}
				}
			}

			.nav-center-div {
				.nav-m-bar {
					.menu-icon {
						.bar {
							.fill {
								background-color: #ffffff !important;
							}
						}
					}
				}
			}
		}
	}

	//  new project
	.new-project{
		background-color: rgba(80, 80, 80, 0.50);
		.new-project-top-div {
			.project-btn-link {
				.arrow-right-circle{
					background-color: #ffffff;
				}
			}
		} 
		.new-project-link-middle {
			.transform-link {
				color: #ffffff;
			}
		}
	}

	// inner page changes
	.inner-page {

		// slide menu
		.menubar-header {
			background-color: rgba(80, 80, 80, 0.50);
			border-color: transparent;
		}
		
		// background changed & overlay 
		.banner-technology-detail {
			background-image: url(../images/bg-technolog.jpg);
			background-size: 100% 100%;
			position: relative;
			&::before {
				content: '';
				background-color: #000000;
				height: 100%;
				width: 100%;
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				opacity: 0.5;
				z-index: 99;
			}
		}
	}

// end

