.menubar-header {
  background-color: rgba(80, 80, 80, 0.5);
  border-color: transparent;
}

.menubar-header .header-div .header-work-text a {
  color: #ffffff !important;
}

.menubar-header .header-div .header-work-text a span {
  color: #717171 !important;
}

.menubar-header .header-div .nav-center-div .nav-m-bar .menu-icon .bar .fill {
  background-color: #ffffff !important;
}

.new-project {
  background-color: rgba(80, 80, 80, 0.5);
}

.new-project .new-project-top-div .project-btn-link .arrow-right-circle {
  background-color: #ffffff;
}

.new-project .new-project-link-middle .transform-link {
  color: #ffffff;
}

.inner-page .menubar-header {
  background-color: rgba(80, 80, 80, 0.5);
  border-color: transparent;
}

.inner-page .banner-technology-detail {
  background-image: url(../images/bg-technolog.jpg);
  background-size: 100% 100%;
  position: relative;
}

.inner-page .banner-technology-detail::before {
  content: '';
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  opacity: 0.5;
  z-index: 99;
}
/*# sourceMappingURL=technology-2.css.map */