.testimonial-two-section {
    padding: 80px 60px 180px 0;
    background-color: #282828;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    width: 100%;
    .testimonial-two-inner{
        width: 100%;
        z-index: 2;
    }

    &::after {
        content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.96);
            height: 100%;
            width: 42%;
            display: block;
            z-index: 1;
    }

    .testimonial-box{
        background-color: #ffffff;
        width: 100%;

        .row-0 {
            margin: 0;
            .pad-0 {
                padding: 0;
            }
        }
        .about-project{
           
            .br-1 {
               border-right: 1px solid #BFBFBF; 
            }
            .bb-1 {
                border-bottom: 1px solid #BFBFBF; 
             }
            .content-box{
                padding: 40px 30px;
                h3 {
                    font-size: 22px;
                    color: #BFBFBF;
                    letter-spacing: 0;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
                h4 {
                    font-size: 22px;
                    color: #282828;
                    letter-spacing: 0;
                    line-height: 33px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                       font-size: 16px;
                        color: #282828;
                        letter-spacing: 0;
                        line-height: 34px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-bottom: 5px;
                       .icons {
                            width: 30px;
                            height: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            i {
                                font-size: 20px;
                            }
                            .rotate {
                                transform: rotate(180deg);
                            }
                       }
                    }
                }
            }

            .content-box-two{
                padding: 40px 30px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                height: 100%;
                h3 {
                    font-size: 22px;
                    color: #BFBFBF;
                    letter-spacing: 0;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }  

                h4 {
                    font-size: 18px;
                    color: #282828;
                    letter-spacing: 0;
                    line-height: 29px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    font-style: italic;
                    
                }

                .date{
                    p{
                        margin-bottom: 0;
                        font-size: 18px;
                        color: #282828;
                        letter-spacing: 0;
                        line-height: 40px;
                        font-weight: 400;
                    }
                }
            }

            .rating-div{
                padding: 30px 20px;
                .rating-star{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 6px;
                    h3 {
                        font-size: 22px;
                        color: #ED5C37;
                        letter-spacing: 0;
                        font-weight: 600;
                    }
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        li {
                            display: inline-block;
                            float: left;
                            a {
                                color: #ED5C37;
                            }
                        }
                    }
                    
                }

                p {
                    font-size: 16px;
                    color: #282828;
                    letter-spacing: 0;
                    line-height: 57px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 0;
                    span{
                        font-size: 16px;
                        color: #282828;
                        letter-spacing: 0;
                        text-align: right;
                        line-height: 57px;
                        font-weight: 600;
                    }
                }
            }

            .content-box-three{
                padding: 40px 30px 40px 40px;
                h3 {
                    font-size: 22px;
                    color: #BFBFBF;
                    letter-spacing: 0;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }  
                p{
                    font-size: 16px;
                    color: #282828;
                    letter-spacing: 0;
                    line-height: 29px;
                }
            }

           
           
        }

        .content-profile {
            padding: 40px 30px;
            h3 {
                font-size: 22px;
                color: #BFBFBF;
                letter-spacing: 0;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 20px;
            }  
            h4 {
                font-size: 22px;
                color: #282828;
                letter-spacing: 0;
                font-weight: 500;
                margin-bottom: 20px;
            }

            .profile-detail{
                margin-bottom: 40px;
                .profile-pic{
                    border: 1px solid #BFBFBF;
                    width: 102px;
                    height: 102px;
                    border-radius: 100%;
                    margin-bottom: 15px;
                    img  {
                        width: 100px;
                        height: 100px;
                        overflow: hidden;
                        border-radius: 100%;
                        border: 5px solid #ffffff;
                    }
                }
                h3 {
                    font-size: 22px;
                    color: #282828;
                    letter-spacing: 0;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                       font-size: 16px;
                        color: #282828;
                        letter-spacing: 0;
                        line-height: 25px;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        margin-bottom: 10px;
                        
                       .icons {
                            margin-top: 2px;
                            width: 30px;
                            height: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            i {
                                font-size: 20px;
                            }
                            .rotate {
                                transform: rotate(180deg);
                            }
                       }
                    }
                }
            }

           
         
        }
        .read-more-div{
            margin: 0;
            position: relative;
            .btn-readmore {
                padding-left: 40px;
                font-size: 16px;
                width: 100%;
                height: 42px;
                background: #EFF5F7;
                border: 1px solid #99A7A8;
                border-radius: 28px;
                border-radius: 28px;
                line-height: 20px;
                white-space: nowrap;
                .c-icon{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 42px;
                    width: 42px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 28px;
                        min-width: 28px;
                    }
                }

                .arrow-right-circle {
                    position: relative;
                    top: -4px;
                    right: -2px;
                    height: 28px;
                    min-width: 28px;
                    width: 28px;
                    background-color: rgba(40, 40, 40,0.5);
                }
            }
        }
        
    }

    .owl-theme .owl-nav {
        text-align: left;
        padding: 40px 0;
        button {
            box-shadow: none !important;
            background: none !important;
            outline: none !important;

       
        }
    }
}

@media (max-width: 767px) {
    .testimonial-two-section {
        .content-box-three {
            border-bottom: 1px solid #BFBFBF;
        }
    }
}