.testimonial-two-section {
  padding: 80px 60px 180px 0;
  background-color: #282828;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  width: 100%;
}

.testimonial-two-section .testimonial-two-inner {
  width: 100%;
  z-index: 2;
}

.testimonial-two-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.96);
  height: 100%;
  width: 42%;
  display: block;
  z-index: 1;
}

.testimonial-two-section .testimonial-box {
  background-color: #ffffff;
  width: 100%;
}

.testimonial-two-section .testimonial-box .row-0 {
  margin: 0;
}

.testimonial-two-section .testimonial-box .row-0 .pad-0 {
  padding: 0;
}

.testimonial-two-section .testimonial-box .about-project .br-1 {
  border-right: 1px solid #BFBFBF;
}

.testimonial-two-section .testimonial-box .about-project .bb-1 {
  border-bottom: 1px solid #BFBFBF;
}

.testimonial-two-section .testimonial-box .about-project .content-box {
  padding: 40px 30px;
}

.testimonial-two-section .testimonial-box .about-project .content-box h3 {
  font-size: 22px;
  color: #BFBFBF;
  letter-spacing: 0;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.testimonial-two-section .testimonial-box .about-project .content-box h4 {
  font-size: 22px;
  color: #282828;
  letter-spacing: 0;
  line-height: 33px;
  font-weight: 600;
  margin-bottom: 20px;
}

.testimonial-two-section .testimonial-box .about-project .content-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.testimonial-two-section .testimonial-box .about-project .content-box ul li {
  font-size: 16px;
  color: #282828;
  letter-spacing: 0;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 5px;
}

.testimonial-two-section .testimonial-box .about-project .content-box ul li .icons {
  width: 30px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.testimonial-two-section .testimonial-box .about-project .content-box ul li .icons i {
  font-size: 20px;
}

.testimonial-two-section .testimonial-box .about-project .content-box ul li .icons .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.testimonial-two-section .testimonial-box .about-project .content-box-two {
  padding: 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.testimonial-two-section .testimonial-box .about-project .content-box-two h3 {
  font-size: 22px;
  color: #BFBFBF;
  letter-spacing: 0;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.testimonial-two-section .testimonial-box .about-project .content-box-two h4 {
  font-size: 18px;
  color: #282828;
  letter-spacing: 0;
  line-height: 29px;
  font-weight: 600;
  margin-bottom: 20px;
  font-style: italic;
}

.testimonial-two-section .testimonial-box .about-project .content-box-two .date p {
  margin-bottom: 0;
  font-size: 18px;
  color: #282828;
  letter-spacing: 0;
  line-height: 40px;
  font-weight: 400;
}

.testimonial-two-section .testimonial-box .about-project .rating-div {
  padding: 30px 20px;
}

.testimonial-two-section .testimonial-box .about-project .rating-div .rating-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6px;
}

.testimonial-two-section .testimonial-box .about-project .rating-div .rating-star h3 {
  font-size: 22px;
  color: #ED5C37;
  letter-spacing: 0;
  font-weight: 600;
}

.testimonial-two-section .testimonial-box .about-project .rating-div .rating-star ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.testimonial-two-section .testimonial-box .about-project .rating-div .rating-star ul li {
  display: inline-block;
  float: left;
}

.testimonial-two-section .testimonial-box .about-project .rating-div .rating-star ul li a {
  color: #ED5C37;
}

.testimonial-two-section .testimonial-box .about-project .rating-div p {
  font-size: 16px;
  color: #282828;
  letter-spacing: 0;
  line-height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
}

.testimonial-two-section .testimonial-box .about-project .rating-div p span {
  font-size: 16px;
  color: #282828;
  letter-spacing: 0;
  text-align: right;
  line-height: 57px;
  font-weight: 600;
}

.testimonial-two-section .testimonial-box .about-project .content-box-three {
  padding: 40px 30px 40px 40px;
}

.testimonial-two-section .testimonial-box .about-project .content-box-three h3 {
  font-size: 22px;
  color: #BFBFBF;
  letter-spacing: 0;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.testimonial-two-section .testimonial-box .about-project .content-box-three p {
  font-size: 16px;
  color: #282828;
  letter-spacing: 0;
  line-height: 29px;
}

.testimonial-two-section .testimonial-box .content-profile {
  padding: 40px 30px;
}

.testimonial-two-section .testimonial-box .content-profile h3 {
  font-size: 22px;
  color: #BFBFBF;
  letter-spacing: 0;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.testimonial-two-section .testimonial-box .content-profile h4 {
  font-size: 22px;
  color: #282828;
  letter-spacing: 0;
  font-weight: 500;
  margin-bottom: 20px;
}

.testimonial-two-section .testimonial-box .content-profile .profile-detail {
  margin-bottom: 40px;
}

.testimonial-two-section .testimonial-box .content-profile .profile-detail .profile-pic {
  border: 1px solid #BFBFBF;
  width: 102px;
  height: 102px;
  border-radius: 100%;
  margin-bottom: 15px;
}

.testimonial-two-section .testimonial-box .content-profile .profile-detail .profile-pic img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  border: 5px solid #ffffff;
}

.testimonial-two-section .testimonial-box .content-profile .profile-detail h3 {
  font-size: 22px;
  color: #282828;
  letter-spacing: 0;
  font-weight: 600;
  margin-bottom: 10px;
}

.testimonial-two-section .testimonial-box .content-profile .profile-detail ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.testimonial-two-section .testimonial-box .content-profile .profile-detail ul li {
  font-size: 16px;
  color: #282828;
  letter-spacing: 0;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

.testimonial-two-section .testimonial-box .content-profile .profile-detail ul li .icons {
  margin-top: 2px;
  width: 30px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.testimonial-two-section .testimonial-box .content-profile .profile-detail ul li .icons i {
  font-size: 20px;
}

.testimonial-two-section .testimonial-box .content-profile .profile-detail ul li .icons .rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.testimonial-two-section .testimonial-box .read-more-div {
  margin: 0;
  position: relative;
}

.testimonial-two-section .testimonial-box .read-more-div .btn-readmore {
  padding-left: 40px;
  font-size: 16px;
  width: 100%;
  height: 42px;
  background: #EFF5F7;
  border: 1px solid #99A7A8;
  border-radius: 28px;
  border-radius: 28px;
  line-height: 20px;
  white-space: nowrap;
}

.testimonial-two-section .testimonial-box .read-more-div .btn-readmore .c-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 42px;
  width: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial-two-section .testimonial-box .read-more-div .btn-readmore .c-icon img {
  width: 28px;
  min-width: 28px;
}

.testimonial-two-section .testimonial-box .read-more-div .btn-readmore .arrow-right-circle {
  position: relative;
  top: -4px;
  right: -2px;
  height: 28px;
  min-width: 28px;
  width: 28px;
  background-color: rgba(40, 40, 40, 0.5);
}

.testimonial-two-section .owl-theme .owl-nav {
  text-align: left;
  padding: 40px 0;
}

.testimonial-two-section .owl-theme .owl-nav button {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background: none !important;
  outline: none !important;
}

@media (max-width: 767px) {
  .testimonial-two-section .content-box-three {
    border-bottom: 1px solid #BFBFBF;
  }
}
/*# sourceMappingURL=testimonial.css.map */